<div class="header header-filter" style="background-image: url('./assets/img/h-bg.jpg');background-size: cover; background-position: top center;"></div>

<div class="main main-raised">
	<div class="profile-content">
            <!--<div class="container">-->
				<div class="row">
					<div class="col-md-3 padR0 margR0">
						<div class="online-list scroll-bar-wrap">
							<h4 class="block-header">Onlayn <span class="green font13">{{onlineUsers.length}}</span></h4>
						
							<ul class="custom-list scroll-box">
								<li ng-repeat="u in onlineUsers">
									<a title="{{u.teamName}}" class="btn btn-simple">
										<span class="placeholder-image {{u.teamName.toLowerCase()[0]}}">
											{{u.teamName.toUpperCase()[0]}}
											<span class="online-indicator"></span>
										</span> 
										{{u.teamName}}
									</a>
								</li>
								
								<p class="alignC" ng-if="onlineUsers.length == 0"> Onlaynda heçkim yoxdur</p>
								
								<div class="scroll-cover-bar"></div>
							</ul>
						</div>
					</div>
					<div class="col-md-9 padL0 margL0 scroll-bar-wrap">
						<!--<nav class="navbar navbar-primary dashboard-nav" role="navigation">-->
						<!--	<div class="container-fluid">-->
						<!--    	<div class="navbar-header">-->
						<!--    		<a class="navbar-brand" ui-sref="dashboard.index">-->
						<!--    			<i ng-show="showBack" class="material-icons">arrow_back</i> Oyunlar-->
						<!--    		</a>-->
						<!--    	</div>-->
						
						    <!--	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
						    <!--		<ul class="nav navbar-nav">-->
										<!--<li class="active"><a href="#">Link</a></li>-->
						    <!--    		<li><a href="#">Link</a></li>-->
						    <!--    		<li class="dropdown">-->
						    <!--    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
						    <!--    			<ul class="dropdown-menu">-->
										<!--	  <li><a href="#">Action</a></li>-->
										<!--	  <li><a href="#">Another action</a></li>-->
										<!--	  <li><a href="#">Something else here</a></li>-->
										<!--	  <li class="divider"></li>-->
										<!--	  <li><a href="#">Separated link</a></li>-->
										<!--	  <li class="divider"></li>-->
										<!--      <li><a href="#">One more separated link</a></li>-->
						    <!--    			</ul>-->
						    <!--    		</li>-->
						    <!--		</ul>-->
						    <!--	</div>-->
						<!--	</div>-->
						<!--</nav>-->
						<div class="card card-nav-tabs dashboard-nav">
							<div class="header header-primary">
								<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
								<div class="nav-tabs-navigation">
									<div class="nav-tabs-wrapper" ng-class="showBack ? 'alignL' : 'alignC'">
										<ul class="nav nav-tabs" data-tabs="tabs">
											<li ng-if="showBack">
												<a ui-sref="dashboard.index" class="back-button" data-toggle="tab" aria-expanded="false">
													<i class="material-icons">arrow_back</i>
													Geri
												<div class="ripple-container"></div></a>
											</li>
											<li class="active" ng-hide="showBack">
												<a href="#games" data-toggle="tab" aria-expanded="false">
													<i class="material-icons">explore</i>
													Oyunlar
												<div class="ripple-container"></div></a>
											</li>
											<li ng-hide="showBack">
												<a href="#subscribed" data-toggle="tab" aria-expanded="true">
													<i class="material-icons">lightbulb_outline</i>
													İzlədiklərim
												<div class="ripple-container"></div></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="content">
								<div class="tab-content">
									<div class="tab-pane active" id="games">
										<div ui-view></div>
									</div>
									<div class="tab-pane" id="subscribed">
										<p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>

            <!--</div>-->
        </div>
</div>
<div class="modal fade" id="createGameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Yeni oyun</h4></h4>
	      </div>
	      <div class="modal-body">
	        Aşağıdakı məlumatları doldurub "Yarat" klik etməklə siz yeni oyun təşkil edə bilərsiz. Bundan sonra digər qoşulmaq istəyən komandaların
	        təklifini gözləyib və dəyərləndirə bilərsiniz. 
	        
	        <p class="red" ng-if="error">{{error}}</p>
	      	<p class="green" ng-if="success">{{success}}</p>
	        
	        <div class="row">
				<div class="col-md-6">
	      			<input class="form-control" type="date" ng-model="game.date" placeholder="Tarix seçin"/>
				</div>
				<div class="col-md-6">
	      			<div class="col-md-6 dropdown">
		      			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					    	{{game.fromHours !=0  ? hours[game.fromHours] : '-dan' }}
					    	<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="h in hours track by $index"><a ng-click="selectFromHours($index+1)">{{h}}</a></li>
						</ul>
					</div>
	      			<div class="col-md-6 dropdown">
		      			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					    	{{game.toHours !=0  ? hours[game.toHours] : '-dək' }}
					    	<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="h in hours track by $index"><a ng-click="selectToHours($index+1)">{{h}}</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-9">
		      		<div class="form-group label-floating">
						<label class="control-label">Stadion haqqında</label>
						<input type="text" ng-model="game.stadium" class="form-control">
					</div>
				</div>
				<div class="col-md-3 dropdown">
	      			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    	{{memberCount[game.memberCount]}}
				    	<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-click="selectMemberCount(1)">10 nəfər</a></li>
						<li><a ng-click="selectMemberCount(2)">12 nəfər</a></li>
						<li><a ng-click="selectMemberCount(3)">14 nəfər</a></li>
						<li><a ng-click="selectMemberCount(4)">16 nəfər</a></li>
						<li><a ng-click="selectMemberCount(5)">22 nəfər</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-6 dropdown">
	      			<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    	{{payment[game.payment]}}
				    	<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a ng-click="selectPayment(1)">Yarı-yarı</a></li>
						<li><a ng-click="selectPayment(2)">Yer pulu</a></a></li>
					</ul>
				</div>
				<div class="col-md-6" ng-if="game.payment == 2">
	      			<div class="col-md-6">
	      				<div class="form-group label-floating">
							<label class="control-label">Udan (AZN)</label>
							<input type="text" ng-model="game.winner" class="form-control">
						</div>	
	      			</div>
	      			<div class="col-md-6">
	      				<div class="form-group label-floating">
							<label class="control-label">Uduzan (AZN)</label>
							<input type="text" ng-model="game.loser" class="form-control">
						</div>
	      			</div>
				</div>
		      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Bağla</button>
	        <button type="button" class="btn btn-primary btn-simple" ng-click="submit()">Yarat</button>
	      </div>
	    </div>
	  </div>
	</div>
<button class="btn btn-primary btn-fab btn-round create-game" data-toggle="modal" data-target="#createGameModal">
	<i class="material-icons">create</i>
</button>
<footer class="footer">
	<div class="container">
	<!--        <nav class="pull-left">-->
			<!--<ul>-->
			<!--	<li>-->
					<!--<a href="#">-->
					<!--	Heveskar.Az-->
					<!--</a>-->
			<!--	</li>-->
			<!--	<li>-->
			<!--		<a href="#">-->
			<!--		   Haqqımızda-->
			<!--		</a>-->
			<!--	</li>-->
			<!--	<li>-->
			<!--		<a href="#">-->
			<!--		   Əlaqə-->
			<!--		</a>-->
			<!--	</li>-->
				<!--<li>-->
				<!--	<a href="http://www.creative-tim.com/license">-->
				<!--		Licenses-->
				<!--	</a>-->
				<!--</li>-->
			<!--</ul>-->
	<!--        </nav>-->
	    <div class="copyright pull-right">
	        &copy; 2016, made with <i class="fa fa-heart heart red"></i> by <a href="#" target="_blank">Heveskar Team</a>
	    </div>
	</div>
</footer>