<div class="header header-filter" style="background-image: url('./assets/img/h-bg.jpg');background-size: cover; background-position: top center;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="card card-signup">
					<form class="form" method="" action="">
						<div class="header header-primary text-center">
							<h4>Giriş / Qeydiyyat</h4>
							<!--<div class="social-line">-->
							<!--	<a href="#pablo" class="btn btn-simple btn-just-icon">-->
							<!--		<i class="fa fa-facebook-square"></i>-->
							<!--	</a>-->
							<!--	<a href="#pablo" class="btn btn-simple btn-just-icon">-->
							<!--		<i class="fa fa-twitter"></i>-->
							<!--	</a>-->
							<!--	<a href="#pablo" class="btn btn-simple btn-just-icon">-->
							<!--		<i class="fa fa-google-plus"></i>-->
							<!--	</a>-->
							<!--</div>-->
						</div>
						<!--<p class="text-divider">Or Be Classical</p>-->
						<p class="text-divider red" ng-if="error">{{error}}</p>
						<p class="text-divider green" ng-if="success">{{success}}</p>
						<div class="content">
	
							<!--<div class="input-group">-->
							<!--	<span class="input-group-addon">-->
							<!--		<i class="material-icons">face</i>-->
							<!--	</span>-->
							<!--	<input type="text" class="form-control" placeholder="Ad...">-->
							<!--</div>-->
	
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">people</i>
								</span>
								<input type="text" ng-model="user.teamName" min-length="4" max-length="20" class="form-control" placeholder="Komanda adı...">
							</div>
	
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">lock_outline</i>
								</span>
								<input type="password" ng-model="user.password" min-length="6" max-length="20" placeholder="Şifrə..." class="form-control" />
							</div>
	
							<!-- If you want to add a checkbox to this form, uncomment this code
	
							<div class="checkbox">
								<label>
									<input type="checkbox" name="optionsCheckboxes" checked>
									Subscribe to newsletter
								</label>
							</div> -->
						</div>
						<div class="footer text-center">
							<button type="button" class="btn btn-simple btn-primary btn-lg" ng-click="submit()">Başla</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<!--      <nav class="pull-left">-->
				<!--<ul>-->
				<!--	<li>-->
				<!--		<a href="#">-->
				<!--			Heveskar.Az-->
				<!--		</a>-->
				<!--	</li>-->
				<!--	<li>-->
				<!--		<a href="#">-->
				<!--		   Haqqımızda-->
				<!--		</a>-->
				<!--	</li>-->
				<!--	<li>-->
				<!--		<a href="#">-->
				<!--		   Əlaqə-->
				<!--		</a>-->
				<!--	</li>-->
				<!--	<li>-->
				<!--		<a href="http://www.creative-tim.com/license">-->
				<!--			Licenses-->
				<!--		</a>-->
				<!--	</li>-->
				<!--</ul>-->
		  <!--      </nav>-->
		    <div class="copyright pull-right">
		        &copy; 2016, made with <i class="fa fa-heart heart red"></i> by <a href="#" target="_blank">Heveskar Team</a>
		    </div>
		</div>
	</footer>
</div>