    <script src="assets/js/chart.js" tppabs="http://bootstrap-themes.github.io/application/assets/js/chart.js"></script>
    <script src="assets/js/toolkit.js" tppabs="http://bootstrap-themes.github.io/application/assets/js/toolkit.js"></script>
    <script src="assets/js/application.js" tppabs="http://bootstrap-themes.github.io/application/assets/js/application.js"></script>
    </body>
</html>
