<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="PF">
    <head>
        <title>Heveskar.Az</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link href="/fonts.googleapis.com/css-family=Open+Sans-400,300,600.css" tppabs="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel='stylesheet' type='text/css'> -->
        
        
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/toolkit.css" rel="stylesheet">
        <link href="assets/css/application.css" rel="stylesheet">
        <link href="assets/css/class.css" rel="stylesheet" type="text/css"/>
        <style>
          /* note: this is a hack for ios iframe for bootstrap themes shopify page */
          /* this chunk of css is not part of the toolkit :) */
          body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
          }
        </style>
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <script>
          // execute/clear BS loaders for docs
          $(function(){
            if (window.BS&&window.BS.loader&&window.BS.loader.length) {
              while(BS.loader.length){(BS.loader.pop())()}
            }
          })
        </script>

        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!--<script src="js/bootstrap.min.js"></script>-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--<script src="js/default.js" type="text/javascript"></script>-->
        <script src="/socket.io/socket.io.js"></script>

        <!-- ANGULAR --> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-ui-router.js"></script>
        <script src="app.js"></script>
        <!-- ANGULAR CONTROLLERS--> 
        <script src="controllers/index.js"></script>
        <script src="controllers/requests.js"></script>
        <script src="controllers/stadiums.js"></script>
        <script src="controllers/teams.js"></script>
        <script src="controllers/users.js"></script>
        <script src="controllers/games.js"></script>
        <!-- ANGULAR DIRECTIVES--> 
        <script src="directives/menu.js"></script>
        <script src="directives/notificationArea.js"></script>
        <script src="directives/search.js"></script>
        <script src="directives/newGame.js"></script>
        <script src="directives/loginPanel.js"></script>
        <script src="directives/fileUpload.js"></script>

        <!-- ANGULAR BOOTSTRAP UI -->
        <script src="js/transition.js"></script>
        <script src="js/popover.js" type="text/javascript"></script>
        <script src="js/tooltip.js" type="text/javascript"></script>
        <script src="/js/collapse.js"></script>
        <script src="js/default.js" type="text/javascript"></script>
        <script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <% if (isAuthenticated) { %>
            <script >var socket = io.connect('http://localhost:3000/');</script>
        <% } %>
    </head>

    <body class="ang">
        <!-- <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="display:none;">
                <div class="modal-content">
                    <!--MODAL CONTENT--
                </div>
            </div>
        </div> -->
        <div class="anq" id="app-growl"></div>

        <nav class="ck pc os app-navbar">
          <div class="by">
            <div class="or">
              <button type="button" class="ou collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="cv">Toggle navigation</span>
                <span class="ov"></span>
                <span class="ov"></span>
                <span class="ov"></span>
            </button>
            <a class="e" ui-sref="index">
                <!-- <img src="assets/img/brand-white.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/brand-white.png" alt="brand"> -->
                Həvəskar.az
            </a>
        </div>
        <div class="f collapse" id="navbar-collapse-main">

            <ul class="nav navbar-nav ss">
              <li class="active">
                <a ui-sref="index"><span class="h ack"></span></a>
            </li>
            <li>
                <a ui-sref="games">Oyunlar</a>
            </li>
            <li>
                <a ui-sref="teams">Komandalar</a>
            </li>
            <li>
                <a data-toggle="modal" href="#msgModal">Meydançalar</a>
            </li>
            <li>
                <a href="docs/index.html" tppabs="http://bootstrap-themes.github.io/application/docs/index.html">H-mağaza</a>
            </li>
            <li>
                <a href="docs/index.html" tppabs="http://bootstrap-themes.github.io/application/docs/index.html">H-xəbər</a>
            </li>
        </ul>

        <ul class="nav navbar-nav og ale ss" login-panel></ul>

        <form class="ow og i" role="search">
          <div class="et">
                <input type="text" class="form-control" data-action="grow" placeholder="Search">
            </div>
        </form>

        <ul class="nav navbar-nav st su sv">
          <li><a href="index.html" tppabs="http://bootstrap-themes.github.io/application/index.html">Home</a></li>
          <li><a href="profile/index.html" tppabs="http://bootstrap-themes.github.io/application/profile/index.html">Profile</a></li>
          <li><a href="notifications/index.html" tppabs="http://bootstrap-themes.github.io/application/notifications/index.html">Notifications</a></li>
          <li><a data-toggle="modal" href="#msgModal">Messages</a></li>
          <li><a href="docs/index.html" tppabs="http://bootstrap-themes.github.io/application/docs/index.html">Docs</a></li>
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="login/index.html" tppabs="http://bootstrap-themes.github.io/application/login/index.html">Logout</a></li>
        </ul>
</div>
</div>
</nav>
