<div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Futbolçu Paneli</h3>
</div>
<div class="panel-body">
    <% 
    if(isAuthenticated){
    %>
    <!--<h5>Xoş gəlmisən, <br/><strong><?=$_SESSION['adsoyad']?></strong>!</h5>-->
    <ul class="nav nav-pills nav-stacked col-lg-12">
        <li class="active">
            <a href="#">
                <span class="badge pull-right">3</span>
                Əsas səhifə
            </a>
        </li>
        <li>
            <a href="#">
                <!--<span class="badge pull-right">3</span>-->
                Məlumatlarım
            </a>
        </li>
        <li>
            <a href="/logout">
                Çıxış
            </a>
        </li>
    </ul>
    <%
    }else{
    %>
    <form action="/login" method="POST">
        <% /* if(message){ %>
        <font color="red"><%=message%></font>
        <% } */ %>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">@</span>
            <input type="text" name="username" class="form-control" placeholder="E-mail">
        </div><br/>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">&nbsp;*&nbsp;</span>
            <input type="password" name="password" class="form-control" placeholder="Şifrə">
        </div>
        <br/>
        <div class="col-lg-8 padding0">
            <div class="input-group">
                <span class="input-group-addon" style="padding: 8px 9px;">
                    <input id="rememberme" type="checkbox">
                </span>
                <label for="rememberme" class="form-control normal">Məni xatırla</label>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-4 padding0">
            <button type="submit" class="btn btn-success fl_right">Daxil Ol</button>
        </div>
    </form>
    <div class="clear push20"></div>
    <a href="#" class="fl_left" id="registration" data-toggle="modal" data-target=".bs-example-modal-lg">Qeydiyyat</a>
    <a href="#" class="fl_right">Facebook ilə daxil ol</a>
    <!--<img id="fblogin" src="img/fblogin.png">-->
    <% 
    }
    %>
</div>