        <p class="pull-right visible-xs">
            <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>-->
        </p>
        <div id="content">
            <div class="col-sm-12 padding0" style="margin-top: -10px;">
                <!-- <div class="jumbotron">
                    <h3>Salam, Həvəskarlar!</h3>
                    <p style="font-size:16px;">"Həvəskar" deyərkən bir çox hallarda aşağı liqa komandalarında iştirak edən futbolçular başa düşülür, lakin biz bu saytda futbola həvəsi olan hər kəsi "Həvəskar" adlandıracağıq.Odur ki,bu sayt futbol həvəskarlarını bir araya yığmaq və daha əyləncəli oyunlar təşkil etmək məqsədilə hazirlanıb sizin istifadənizə verilmişdir.</p>
                </div> -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img src="img/image3.jpg">
                        <div class="carousel-caption">
                            Salam, Həvəskarlar!
                            <p style="font-size:16px;">"Həvəskar" deyərkən bir çox hallarda aşağı liqa komandalarında iştirak edən futbolçular başa düşülür, lakin biz bu saytda futbola həvəsi olan hər kəsi "Həvəskar" adlandıracağıq.Odur ki,bu sayt futbol həvəskarlarını bir araya yığmaq və daha əyləncəli oyunlar təşkil etmək məqsədilə hazirlanıb sizin istifadənizə verilmişdir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/image.jpg">
                    </div>
                    <div class="item active">
                      <img src="img/image2.jpg">
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <div class="panel panel-default panel-table" style="margin: 15px;">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        Tezliklə baş tuta biləcək oyunlar
                        
                        <!-- <a ui-sref="games" class="fl_right mytooltips" data-toggle="tooltip" data-placement="left" data-title="Hamısına bax"><span class="glyphicon glyphicon-align-justify"></span></a> -->
                        <a ui-sref="games" class="fl_right white">Hamısına bax</a>
                    </div>

                    <!-- Table -->
                    <div class="table-responsive">
                    <table class="table table-striped games">
                        <thead>
                            <th></th><th>Tarİx</th><th>Hər komanda</th><th>Stadİon</th><th>Ödənİş</th><th>Qoşulub</th><th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="game in games">
                                <td style="text-align:left;" ng-if="game.team == 1">
                                    <a ui-sref="teamInfo({name:game.teamId.name})"><img class="img-circle" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                                </td>
                                <td style="text-align:left;" ng-if="game.team == 2">
                                    <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                                </td>
                                <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                                <td>{{game.countPlayers}} nəfər</td>
                                <td>{{game.stadium}}</td>
                                <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                                <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                                <td><a href="#">{{!game.connected.length ? 0 : game.connected.length}} / {{game.countPlayers*2}} nəfər </a></td>
                                <td>
                                    <button type="button" ui-sref="games.more({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/span-->
</div><!--/row-->