<div class="clear push60"></div>
<!-- Jumbotron -->
<div class="jumbotron">
<h2>Bizimlə əlaqə!</h2>
<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
<!-- <p><a class="btn btn-lg btn-success" ui-sref="contact" role="button">Bizimlə əlaqə</a></p> -->
</div>
<div class="panel panel-default row">
	<div class="input-group input-group-lg col-sm-4">
	  <span class="input-group-addon" id="sizing-addon1">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
	</div>

	<div class="input-group col-sm-4">
	  <span class="input-group-addon" id="sizing-addon2">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
	</div>

	<div class="input-group input-group-sm col-sm-4">
	  <span class="input-group-addon" id="sizing-addon3">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
	</div>
</div>