
<div class="by amt">
  <div class="gc">
    <div class="col-md-9">
      <li class="b aml" ng-if="offers.length">
        <h3 class="alc">Oyuna qoşulmaq istəyənlər</h3>
      </li>
      <ul class="qo cj ca" ng-if="offers.length">
        <li class="b" ng-repeat="offer in offers">
          <div class="qf">
            <a class="qj" ui-sref="teamInfo({name:offer.senderTeamId.name})">
              <img ui-sref="teamInfo({name:offer.senderTeamId.name})" style="width:30px;" class="media-object img-rounded pointer" ng-src="{{offer.senderTeamId.img}}">
            </a>
            <div class="qg">
                  <button ng-click="rejectUserRequest(offer._id)" class="cg tr fx eg mgL10">
                    <span class="h ago"></span> İmtina et
                  </button>
                  <button ng-click="acceptUserRequest(offer._id)" class="cg tt fx eg">
                      <span class="h vc"></span> Qəbul et
                  </button>
              <strong>{{offer.senderTeamId.name}}</strong>
              <small>{{offer.text}}</small>
            </div>
          </div>
        </li>
      </ul>
      
      <!--<div class="panel panel-default" ng-if="offers"> -->
      <!--    <div class="panel-heading ">-->
      <!--        <h3 class="panel-title">Bu oyuna təklif göndərənlər</h3>-->
      <!--    </div>-->
      <!--    <div class="panel-body"> -->
      <!--        <div class="media" ng-repeat="offer in offers" style="border-bottom:1px solid #ddd;padding-bottom:5px;">-->
      <!--          <div class="media-left pull-left">-->
      <!--              <img ui-sref="teamInfo({name:offer.senderTeamId.name})" style="width:30px;" class="media-object img-rounded pointer" ng-src="{{offer.senderTeamId.img}}">-->
      <!--              <a ui-sref="teamInfo({name:offer.senderTeamId.name})"><h5 class="media-heading" style="display:inline-block;float:left;">{{offer.senderTeamId.name}} </h5> </a>-->
      <!--          </div>-->
      <!--          <div class="media-body pull-left">-->
      <!--                <i>{{offer.text}}</i> <br>-->
      <!--                <i>Göndərdi: <a ui-sref="profile({username:offer.senderId.username})">{{offer.senderId.username}}</a></i>-->
      <!--                &nbsp;(<i>{{offer.offer.date | date:"dd MMM yyyy, HH:mm"}}</i>)-->
      <!--          </div>-->
      <!--          <div class="media-left pull-right">-->
      <!--                <button ng-click="acceptUserRequest(offer._id)" class="btn btn-success">Qəbul et</button>-->
      <!--                <button ng-click="rejectUserRequest(offer._id)" class="btn btn-danger">İmtina et</button>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--    </div>-->
      <!--</div>-->
      
      <ul class="ca qo anx">
        <li class="b qf aml">
          <div class="alk">
            <div class="gc">
              <div class="gn">
                <a ui-sref="teamInfo({name:game.teamId.name})">
                <div class="qv rc aog">
                  <div class="qx" style="background-image: url(assets/img/image3.jpg);"></div>
                  <div class="qw dj">
                    <img class="aoh insideGame" ng-src="{{game.teamId.img}}">
                </a>
                    <h5 class="qy">{{game.teamId.name}}</h5>
                    <!-- <p class="alu">Big belly rude boy, million dollar hustler. Unemployed.</p> -->
<!--                     <button class="cg ts fx">
                      <span class="h vc"></span> Follow
                    </button> -->
                  </div>
                </div>
              </div>
              <div class="gz qv rc aog padding0">
                <table class="table table-striped table-responsive table-heveskar cn txtcenter insideGame">
                  <tbody>
                      <tr>
                          <th>Tarix</th>
                      </tr>
                      <tr>
                          <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                      </tr>
                      <tr>
                          <th>Stadion</th>
                      </tr>
                      <tr>
                          <td>{{(game.stadium) ? game.stadium : '-'}}</td>
                      </tr>
                      <tr>
                          <th>Hər Komanda</th>
                      </tr>
                      <tr>
                          <td>{{game.countPlayers}} nəfər</td>
                      </tr>
                      <tr>
                          <th>Ödəniş</th>
                      </tr>
                      <tr>
                          <td>{{(game.plan.type == 1) ? 'Yarı-yarı' : game.plan.winner+ ' - ' +game.plan.loser + ' Azn'}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="gn">
                <div class="qv rc aog" ng-if="game.opponent">
                  <a ui-sref="teamInfo({name:game.oppTeamId.name})">
                  <div class="qx" style="background-image: url(assets/img/image3.jpg);"></div>
                  <div class="qw dj">
                    <img class="aoh insideGame" ng-src="{{game.oppTeamId.img}}">
                  </a>
                    <h5 class="qy">{{game.oppTeamId.name}}</h5>
                    <!-- <button class="cg ts fx">
                      <span class="h vc"></span> Follow
                    </button> -->
                  </div>
                </div>
                <button ng-if="!game.opponent" ng-click="makeOffer()" class="btn btn-primary btn-block">Təklif göndər</button>
              </div>
            </div>
          </div>
        </li>
        <li class="b qf aml">
          <div class="commentsArea push10">
            <ul class="qo aob aoz">
              <div ng-repeat="comment in game.comments">
                <li class="qf aoe alu">
                  <div class="qg mainComments">
                    <div class="aoc">
                      <p class="di">{{comment.comment}}</p>
                    </div>
                    <div class="aod">
                      <small class="dp">
                        <a ng-click="deleteComment(comment._id)">Sil</a> | 
                        <a ng-click="reply(comment._id)">Cavabla</a>
                      </small>
                      <small class="dp eg">
                        {{comment.date | date:"dd MMM yyyy, HH:mm"}}
                        <a href="#">{{comment.senderId.username}}</a>
                      </small>
                    </div>
                  </div>
                  <a class="qi" href="#">
                    <img class="cu qh" ng-src="{{comment.senderId.img}}">
                  </a>
                </li>
                <li class="qf alu" ng-if="replyInput[comment._id] == true">
                  <a class="qj" href="#">
                    <img class="cu qh" ng-src="{{comment.senderId.img}}">
                  </a>
                  <div class="qg">
                    <div class="aoc">
                      <div class="input-group width100">
                        <input type="text" class="form-control replyInput" ng-model="reply[comment._id]" placeholder="Cavab yaz...">
                        <span class="input-group-btn">
                          <button class="cg fx tt eg" ng-click="sendComment(comment._id)" type="button">Göndər</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="qf alu" ng-repeat="nested in replies[comment._id]">
                  <a class="qj" href="#">
                    <img class="cu qh" ng-src="{{nested.senderId.img}}">
                  </a>
                  <div class="qg">
                    <div class="aoc">{{nested.comment}}</div>
                    <div class="aod">
                      <small class="dp">
                        <a href="#">{{nested.senderId.username}}</a> {{nested.date | date:"dd MMM yyyy, HH:mm"}}
                        <a class="eg" ng-click="deleteComment(comment._id)">Sil </a>
                      </small>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </div>  
          <div class="sendMsgArea">
            <div class="input-group">
              <input type="text" class="form-control replyInput" ng-model="comment" placeholder="Şərh yaz...">
              <span class="input-group-btn">
                <button class="cg fx tt eg" ng-click="sendComment()" type="button">Göndər</button>
              </span>
            </div><!-- /input-group -->
          </div> 
        </li>
      </ul>
    </div>



    <div class="col-md-3">
      <div login-alert></div>
      
      <div class="qv rc sm sp">
        <div class="qw">
        <h5 class="ald">Oyun iştirakçıları <span class="badge eg">{{connectedUsers.connected.length}}</span></h5>
        <ul class="qo cj ca">
          <li class="qf alm" ng-repeat="a in connectedUsers.connected">
            <a class="qj" ui-sref="profile({username:a.username})">
              <img class="qh cu" ng-src="{{a.img}}">
            </a>
            <div class="qg">
              <strong>{{a.username}}</strong>
              <!-- <small>hücumçu</small> -->
              <button class="cg fx tt eg">
                <span class="h vc"></span> Tanış
              </button>
            </div>
          </li>
        </ul>
        </div>
      </div>

      <div class="qv rc" footer-area></div>
    </div>
  </div>
</div>