
<div class="by amt">
  <div class="gc">
    <div class="gn">

      <div class="ca alu">
        <a ui-sref="games({id: 1})" class="b">
          <span class="h uy eg"></span>
          Rəqib axtaranlar
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Qarışıq oyunlar
        </a>
      </div>
      <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Yaxın komandalar <small>· <a href="#">Hamısı</a></small></h5>
        </div>
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx" ng-if="pageId != 2">
        <li class="b aml">
          <h3 class="alc">Rəqib komanda axtaranlar</h3>
        </li>

        <li class="b qf aml">
            <table class="cn table-striped table-responsive table-heveskar">
                <thead>
                    <th></th><th>Tarix</th><th>say</th><th>Stadion</th><th>Ödəniş</th><th>Rəqib</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games">
                        <td style="text-align:left;" ng-if="game.team == 1">
                            <a class="team-name" ui-sref="teamInfo({name:game.teamId.name})"><img class="cu fl_left" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                        </td>
                        <td style="text-align:left;" ng-if="game.team == 2">
                            <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                        </td>
                        <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                        <td>{{game.countPlayers}} - {{game.countPlayers}}</td>
                        <td>{{game.stadium}}</td>
                        <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                        <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                        <td ng-if="!game.opponent">Yoxdu</td>
                        <td ng-if="game.opponent">Tapıldı</td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" ng-class="game.opponent ? 'tr' : 'tt' " class="cg fx">
                                {{game.opponent ? 'Ətraflı' : 'Qoşul'}}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        
      </ul>
      <ul class="ca qo anx" ng-if="pageId == 2">
        <li class="b aml">
          <h3 class="alc">Qarışıq oyunlar</h3>
        </li>

        <li class="b qf aml">
            <table class="cn table-striped table-responsive table-heveskar">
                <thead>
                    <th></th><th>Tarix</th><th>Bölgü</th><th>say</th><th>Stadion</th><th>Ödəniş</th><th>Qoşulub</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="game in mixgames">
                        <td style="text-align:left;" ng-if="game.team == 1">
                            <a ui-sref="teamInfo({name:game.teamId.name})"><img class="img-circle" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                        </td>
                        <td style="text-align:left;" ng-if="game.team == 2">
                            <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                        </td>
                        <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                        <td>{{game.division == 1 ? 'Seçmə' : 'Qarışıq'}}</td>
                        <td>{{game.countPlayers}} {{game.countPlayers}}</td>
                        <td>{{game.stadium}}</td>
                        <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                        <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                        <td><a href="#">{{!game.connected.length ? 0 : game.connected.length}} / {{game.countPlayers*2}} nəfər </a></td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        
      </ul>
    </div>
    <div class="gn">
        <div new-game></div>
        <div class="qv rc alu ss">
            <div class="qw">
              <h5 class="ald">Tanıdın? <small>· <a href="#">Hamısı</a></small></h5>
            </div>
            <div class="qz">
              Dave really likes these nerds, no one knows why though.
            </div>
        </div>


        <div class="qv rc aok" footer-area></div>
    </div>
  </div>
</div>

<!--     <div class="col-sm-12">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                Rəqib Komanda Axtaranlar
                <a ui-sref="games" class="fl_right white">Hamısına bax</a>
            </div>
            <table class="table table-striped games">
                <thead>
                    <th></th><th>Tarİx</th><th>Hər komanda</th><th>Stadİon</th><th>Ödənİş</th><th>Rəqİb</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="game in games">
                        <td style="text-align:left;" ng-if="game.team == 1">
                            <a ui-sref="teamInfo({name:game.teamId.name})"><img class="img-circle" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                        </td>
                        <td style="text-align:left;" ng-if="game.team == 2">
                            <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                        </td>
                        <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                        <td>{{game.countPlayers}} nəfər</td>
                        <td>{{game.stadium}}</td>
                        <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                        <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                        <td ng-if="!game.opponent">Yoxdu</td>
                        <td ng-if="game.opponent">Tapıldı</td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> --><!--/row-->


        <!-- <div class="panel panel-default panel-table">
            <div class="panel-heading">
                Qarışıq oyunlar
                <a ui-sref="games" class="fl_right white">Hamısına bax</a>
            </div>
            <table class="table table-striped games">
                <thead>
                    <th></th><th>Tarİx</th><th>Bölgü</th><th>Hər komanda</th><th>Stadİon</th><th>Ödənİş</th><th>Qoşulub</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="game in mixgames">
                        <td style="text-align:left;" ng-if="game.team == 1">
                            <a ui-sref="teamInfo({name:game.teamId.name})"><img class="img-circle" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                        </td>
                        <td style="text-align:left;" ng-if="game.team == 2">
                            <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                        </td>
                        <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                        <td>{{game.division == 1 ? 'Seçmə' : 'Qarışıq'}}</td>
                        <td>{{game.countPlayers}} nəfər</td>
                        <td>{{game.stadium}}</td>
                        <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                        <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                        <td><a href="#">{{!game.connected.length ? 0 : game.connected.length}} / {{game.countPlayers*2}} nəfər </a></td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> --><!--/row--
    </div><!--/span-->