<style type="text/css">
    .teamImg{ width: 60%;}
    .teamLine{text-align: center;}
    .ConnectionNotifs{height:294px;overflow-y: auto;}
    table{background: white;}
</style>
<div class="">
    <div class="col-xs-12 col-sm-9 sidebar-offcanvas">
        

        <div class="alert alert-danger" role="alert" ng-if="error">
            <strong>Xəta var!</strong> <br> {{error}}
        </div>
        <div class="alert alert-success" role="alert" ng-if="success">
            <strong>Təbriklər!</strong> <br> {{success}}
        </div>
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <h3 class="panel-title">Oyun haqqında daha ətraflı</h3>
              </div>
            <div class="panel-body"> 
                <div class="row teamLine">
                    <div class="col-lg-3">
                        <a ui-sref="teamInfo({name:game.teamId.name})">
                            <img class="img-rounded teamImg" ng-src="{{game.teamId.img}}">
                        </a>
                        <div class="clearfix push10"></div>
                        <table class="table text-left">
                            <tr><td>Komanda:</td><td><b>{{game.teamId.name}}</b></td></tr>
                            <tr><td>Oynayıb:</td><td>{{game.teamId.statistics.played}} dəfə</td></tr>
                            <tr><td>Qalib:</td><td>{{game.teamId.statistics.won}} dəfə</td></tr>
                            <tr><td>Məğlub:</td><td>{{game.teamId.statistics.lost}} dəfə</td></tr>
                            <tr><td>Heç-heçə:</td><td>{{game.teamId.statistics.draw}} dəfə</td></tr>
                            <tr><td>Xal:</td><td>{{game.teamId.statistics.points}}</td></tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table games">
                            <tbody>
                                <tr>
                                    <th>Tarix</th>
                                </tr>
                                <tr>
                                    <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                                </tr>
                                <tr>
                                    <th>Stadion</th>
                                </tr>
                                <tr>
                                    <td>{{game.stadium}}</td>
                                </tr>
                                <tr>
                                    <th>Hər Komanda</th>
                                </tr>
                                <tr>
                                    <td>{{game.countPlayers}} nəfər</td>
                                </tr>
                                <tr>
                                    <th>Ödəniş</th>
                                </tr>
                                <tr>
                                    <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                                    <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="game.opponent" class="col-lg-3">
                        <a ui-sref="teamInfo({name:game.oppTeamId.name})">
                            <img class="img-rounded teamImg" ng-src="{{game.oppTeamId.img}}">
                        </a>
                        <div class="clearfix push10"></div>
                        <table class="table text-left">
                            <tr><td>Komanda:</td><td><b>{{game.oppTeamId.name}}</b></td></tr>
                            <tr><td>Oynayıb:</td><td>{{game.oppTeamId.statistics.played}} dəfə</td></tr>
                            <tr><td>Qalib:</td><td>{{game.oppTeamId.statistics.won}} dəfə</td></tr>
                            <tr><td>Məğlub:</td><td>{{game.oppTeamId.statistics.lost}} dəfə</td></tr>
                            <tr><td>Heç-heçə:</td><td>{{game.oppTeamId.statistics.draw}} dəfə</td></tr>
                            <tr><td>Xal:</td><td>{{game.oppTeamId.statistics.points}}</td></tr>
                        </table>
                    </div>
                    <div ng-if="!game.opponent" class="col-lg-3">
                        <a ui-sref="#">
                            <img style="height: 108px;width: 183px;" class="img-rounded teamImg" ng-src="http://res.cloudinary.com/heveskar-az/image/upload/v1436558818/teams/noTeamPhotoHeveskarAz.png">
                        </a>
                        <div class="clearfix push10"></div>
                        <!-- <table class="table table-striped text-left">
                            <tr><td>Komanda adı:</td><td><b>???</b></td></tr>
                            <tr><td>Oynayıb:</td><td>? dəfə</td></tr>
                            <tr><td>Qalib olub:</td><td>? dəfə</td></tr>
                            <tr><td>Məğlub olub:</td><td>? dəfə</td></tr>
                            <tr><td>Heç-heçə:</td><td>? dəfə</td></tr>
                            <tr><td>Xal:</td><td>?</td></tr>
                        </table> -->
                        <div class="clearfix"></div>
                        <button ng-click="makeOffer()" class="btn btn-primary btn-block">Təklif göndər</button>
                    </div>

                </div>
            </div>
        </div><!--/row-->
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">Şərhlər</h3>
                    </div>
                    <div class="panel-body">

                        <!-- <div class="commentsArea push10">
                            <div class="media" ng-repeat="comment in game.comments">
                              <div class="media-left">
                                <a href="#">
                                  <img style="width:50px;" class="img-circle teamImg" ng-src="{{comment.senderId.img}}">
                                </a>
                              </div>
                              <div class="media-body width100">
                                <i style="float:right">{{comment.date | date:"dd MMM yyyy, HH:mm"}}</i>
                                <a href="#"><h5 class="media-heading">{{comment.senderId.username}}</h5></a>
                                <p>{{comment.comment}}</p>
                                <a href="#">Sil</a> | <a href="#">Cavabla</a> 
                                <hr>
                                <!-- /input-group --

                              </div>
                            </div>
                        </div>   -->

                        <div class="commentsArea push10">
                            <ul class="media-list">
                              <li class="media" ng-repeat="comment in game.comments">
                                <div class="media-left">
                                    <a href="#">
                                      <img style="width:40px;" class="img-rounded teamImg media-object" ng-src="{{comment.senderId.img}}">
                                    </a>
                                </div>
                                <div class="media-body mainComments">
                                    <i style="float:right">{{comment.date | date:"dd MMM yyyy, HH:mm"}}</i>
                                    <a href="#"><font class="media-heading width100">{{comment.senderId.username}}</font></a>
                                    <div class="clear"></div>
                                    <p>{{comment.comment}}</p>
                                    <div class="fl_left">
                                        <a ng-click="deleteComment(comment._id)">Sil</a> | 
                                        <a ng-click="reply(comment._id)">Cavabla</a>
                                    </div>
                                  <!-- Nested media object -->
                                  <div class="media" ng-if="replyInput[comment._id] == true">
                                    <div class="media-left">
                                        <!-- <a href="#">
                                          <img style="width:32px;" class="img-rounded teamImg media-object" ng-src="{{comment.senderId.img}}">
                                        </a> -->
                                    </div>
                                    <div class="media-body">
                                        <div class="input-group width100">
                                          <input type="text" class="form-control input-sm" ng-model="reply[comment._id]" placeholder="Cavab yaz...">
                                          <span class="input-group-btn">
                                            <button class="btn btn-heveskar btn-sm" ng-click="sendComment(comment._id)" type="button">Göndər!</button>
                                          </span>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="media nested" ng-repeat="nested in replies[comment._id]">
                                    <div class="media-left">
                                        <a href="#">
                                          <img style="width:32px;" class="img-rounded teamImg media-object" ng-src="{{nested.senderId.img}}">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <i class="fl_right">{{nested.date | date:"dd MMM yyyy, HH:mm"}}</i>
                                        <a href="#">{{nested.senderId.username}}</a>
                                        <div class="clear"></div>
                                        <a ng-click="delete(nested._id)" class="fl_right">Sil</a>
                                        <p class="width100">{{nested.comment}}</p>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                        </div>  
                        <div class="sendMsgArea">
                            <div class="input-group">
                              <input type="text" class="form-control" ng-model="comment" placeholder="Şərh yaz...">
                              <span class="input-group-btn">
                                <button class="btn btn-heveskar" ng-click="sendComment()" type="button">Göndər!</button>
                              </span>
                            </div><!-- /input-group -->
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <h3 class="panel-title">Oyun iştirakçıları({{connectedUsers.connected.length}})</h3>
                    </div>
                    <div class="list-group">
                        <a ui-sref="profile({username:a.username})" class="list-group-item" ng-repeat="a in connectedUsers.connected">
                            <img style="width:20px;" class="img-circle" ng-src="{{a.img}}">
                            &nbsp;{{a.username}}
                        </a>
                        <a ng-if="connectedUsers.connected.length>=5" class="list-group-item text-center">...</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rəqib olmaq istəyənlər</h3>
                      </div>
                    <div class="panel-body ConnectionNotifs">                        
                        <div class="list-group">
                          <a href="#" class="list-group-item">
                            <img style="width:30px;" class="img-circle teamImg" ng-src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg" src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg">
                            ceyhun23
                            <p class="list-group-item-text">Stadion Azfar olsa oynuyaq brat</p>
                          </a>
                          <a href="#" class="list-group-item">
                            <img style="width:30px;" class="img-circle teamImg" ng-src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg" src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg">
                            ceyhun23
                            <p class="list-group-item-text">Stadion Azfar olsa oynuyaq brat</p>
                          </a>
                          <a href="#" class="list-group-item">
                            <img style="width:30px;" class="img-circle teamImg" ng-src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg" src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg">
                            ceyhun23
                            <p class="list-group-item-text">Stadion Azfar olsa oynuyaq brat</p>
                          </a>
                          <a href="#" class="list-group-item">
                            <img style="width:30px;" class="img-circle teamImg" ng-src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg" src="http://res.cloudinary.com/heveskar-az/image/upload/v1437326006/teams/lili.jpg">
                            ceyhun23
                            <p class="list-group-item-text">Stadion Azfar olsa oynuyaq brat</p>
                          </a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div><!--/span-->
    <div class="col-sm-3">
        <div class="panel panel-default" ng-if="offers"> 
            <div class="panel-heading ">
                <h3 class="panel-title">Bu oyuna təklif göndərənlər</h3>
            </div>
            <div class="panel-body"> 
                <div class="media" ng-repeat="offer in offers" style="border-bottom:1px solid #ddd;padding-bottom:5px;">
                  <div class="media-left pull-left">
                      <img ui-sref="teamInfo({name:offer.senderTeamId.name})" style="width:30px;" class="media-object img-rounded pointer" ng-src="{{offer.senderTeamId.img}}">
                      <a ui-sref="teamInfo({name:offer.senderTeamId.name})"><h5 class="media-heading" style="display:inline-block;float:left;">{{offer.senderTeamId.name}} </h5> </a>
                  </div>
                  <div class="media-body pull-left">
                        <i>{{offer.text}}</i> <br>
                        <i>Göndərdi: <a ui-sref="profile({username:offer.senderId.username})">{{offer.senderId.username}}</a></i>
                        &nbsp;(<i>{{offer.offer.date | date:"dd MMM yyyy, HH:mm"}}</i>)
                  </div>
                  <div class="media-left pull-right">
                        <button ng-click="acceptUserRequest(offer._id)" class="btn btn-success">Qəbul et</button>
                        <button ng-click="rejectUserRequest(offer._id)" class="btn btn-danger">İmtina et</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-->