<div class="by amt">
  <div class="gc">
    <div class="gn">

      <div class="ca alu">
        <a ui-sref="games({id: 1})" class="b">
          <span class="h uy eg"></span>
          Formalar
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Butslar
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Çantalar
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Digər
        </a>
      </div>
      <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Yaxın komandalar <small>· <a href="#">Hamısı</a></small></h5>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <ul class="ca qo anx">
        <li class="b aml">
          <h3 class="alc">Həvəskar mağaza</h3>
        </li>
      </ul>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="qh width100" data-action="zoom" src="assets/img/image2.jpg" tppabs="assets/img/image2.jpg">
              <div class="caption">
                <h3>Nike SuperNova</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Al</a> <a href="#" class="btn btn-default" role="button">Ətraflı</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="qh width100" data-action="zoom" src="assets/img/image2.jpg" tppabs="assets/img/image2.jpg">
              <div class="caption">
                <h3>Nike SuperNova</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Al</a> <a href="#" class="btn btn-default" role="button">Ətraflı</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="qh width100" data-action="zoom" src="assets/img/image2.jpg" tppabs="assets/img/image2.jpg">
              <div class="caption">
                <h3>Nike SuperNova</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Al</a> <a href="#" class="btn btn-default" role="button">Ətraflı</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="qh width100" data-action="zoom" src="assets/img/image2.jpg" tppabs="assets/img/image2.jpg">
              <div class="caption">
                <h3>Nike SuperNova</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Al</a> <a href="#" class="btn btn-default" role="button">Ətraflı</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="qh width100" data-action="zoom" src="assets/img/image2.jpg" tppabs="assets/img/image2.jpg">
              <div class="caption">
                <h3>Nike SuperNova</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Al</a> <a href="#" class="btn btn-default" role="button">Ətraflı</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--<div class="gn">-->
    <!--    <div class="qv rc sm sp" maybe-acquaintance ng-if="authentication.isAuth"></div>-->


    <!--    <div class="qv rc aok" footer-area></div>-->
    <!--</div>-->
  </div>
</div>
