            <div class="clear push60"></div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9 sidebar-offcanvas">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"> 
                            <a ui-sref="stadiums"><span class="glyphicon glyphicon-arrow-left"></span> Meydançalarımız</a>
                             / Cədvəl</h3>
                          </div>
                        <div class="panel-body">                        
                            

                            <div class="row">
                                <div class="col-sm-4">
                                  <h5>Seçilmiş meydança:</h5>
                                  <input type="text" class="form-control" 
                                    value="{{SSC.stadium.name}}({{SSC.stadium.stad_id.name}})"
                                    popover-trigger="mouseenter"
                                    popover="{{SSC.stadium.name}}({{SSC.stadium.stad_id.name}})" 
                                    disabled>
                                </div>
                                <div class="col-sm-4">
                                  <h5>Tarix seçin:</h5>
                                  <input type="date" ng-model="SSC.date" 
                                  
                                  ng-change="SSC.showSchedule()" class="form-control"/>
                                </div>
                                <!-- <div class="col-sm-4">
                                    <h5>Göstər:</h5>
                                    <select class="form-control">
                                      <option>Hamısını</option>
                                      <option>Boş saatları</option>
                                      <option>Dolu saatları</option>
                                      <option>Ödənilənlər</option>
                                      <option>Ödənilməyənlər</option>
                                    </select>
                                </div> -->
                              </div>
                              <br>
                              <hr>
                              <div class="table-responsive" ng-show="SSC.schedule">
                                <table class="table table-striped todayGames">
                                  <thead>
                                    <tr>
                                      <th class="col-lg-1"></th>
                                      <th class="col-lg-1">Saat</th>
                                      <th class="col-lg-6">Meydança</th>
                                      <th class="col-lg-2">Ödəniş</th>
                                      <th class="col-lg-1"></th>
                                      <th class="col-lg-1"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="simpleS in SSC.schedule">
                                      <td class="col-lg-1">
                                        <span ng-if="simpleS.status==1" class="glyphicon glyphicon-ok text-success"></span>
                                        <span ng-if="simpleS.status==0" class="glyphicon glyphicon-minus text-primary"></span>
                                      </td>
                                      <td class="col-lg-1">{{simpleS.saat}}</td>
                                      <td class="col-lg-6">{{simpleS.stadion}}</td>
                                      <td class="col-lg-2">{{simpleS.price}} AZN</td>
                                      <td class="col-lg-1"><button ng-disabled="simpleS.status==1" type="button" ng-click="SSC.bookPlace(simpleS.saat)" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Yazıl</button></td>
                                      <td class="col-lg-1"><button type="button" disabled ng-click="sSC.openModal(simpleS.saat)" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Abunə ol</button></td>
                                    </tr>
                                    <!-- <tr>
                                      <td><span class="glyphicon glyphicon-minus text-primary"></span></td>
                                      <td>01:00</td>
                                      <td>№1</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td><button type="button" class="btn btn-primary glyphicon glyphicon-pencil"></button></td>
                                    </tr> -->
                                  </tbody>
                                </table>
                              </div>


                        </div>
                    </div><!--/row-->
                </div><!--/span-->

                <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="col-lg-12 padding0">
                        <a href="game/new"><button type="button" class="btn btn-danger width100"><span class="glyphicon glyphicon-bullhorn"></span> Oyun Təşkil elə</button></a>
                    </div>
                    <div class="clear push10"></div>
                    <div class="panel panel-default" login-panel></div>
                </div><!--/span-->
            </div><!--/row-->