            <!--<div class="clear push60"></div>-->
            <!--<div class="row row-offcanvas row-offcanvas-right">-->
            <!--    <div class="col-xs-12 col-sm-9 sidebar-offcanvas">-->

            <!--        <div class="panel panel-default">-->
            <!--            <div class="panel-heading">-->
            <!--                <h3 class="panel-title">Meydançalarımız</h3>-->
            <!--              </div>-->
            <!--            <div class="panel-body">                        -->
            <!--                <div class="col-lg-12 stadiumDiv first" ng-repeat="stadium in SC.stadiums">-->
            <!--                    <div class="col-lg-6">-->
            <!--                        <img src="https://cbspittsburgh.files.wordpress.com/2013/11/crop_down9.jpg?w=610&h=490" -->
            <!--                              class="img-circle fl_left">-->
                                    <!-- <h5 style="color:gray">Azfar (Tərlan Şadlıq Sarayı)</h5> -->
            <!--                        <address class="text-left mgT10">-->
            <!--                            <strong>{{stadium.name}}</strong><br>-->
            <!--                            <abbr title="Ünvan">Ünvan:</abbr>  {{stadium.address}} </br>-->
            <!--                            <abbr title="Telefon">Tel:</abbr> {{stadium.phone}} <br>-->
            <!--                            <abbr title="Nəzarətçi">Nəzarətçi:</abbr> {{stadium.controllerName}}-->
            <!--                        </address>-->
            <!--                    </div>-->
            <!--                    <div class="col-lg-6">-->
            <!--                        <div class="table-responsive">-->
            <!--                            <table class="table subStadiums">-->
            <!--                                <thead>-->
            <!--                                    <th>#</th><th>Tip</th><th>Şəkillər</th><th></th>-->
            <!--                                </thead>-->
            <!--                                <tbody>-->
            <!--                                    <tr ng-repeat="as in SC.allStadiums[stadium._id]">-->
            <!--                                        <td>{{as.name}}</td>-->
            <!--                                        <td>{{as.type == true ? "Örtülü" : "Açıq"}}</td>-->
            <!--                                        <td>-->
            <!--                                            <button type="button" class="btn btn-default glyphicon glyphicon-camera" ng-click="openImages(as._id)"></button>-->
            <!--                                        </td>-->
            <!--                                        <td>-->
            <!--                                            <button type="button" ui-sref="stadiumSchedule({id:as._id})" class="btn btn-default">Cədvəl</button>-->
            <!--                                        </td>-->
            <!--                                    </tr>-->
            <!--                                </tbody>-->
            <!--                            </table>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div><!--/row-->
            <!--    </div><!--/span-->

            <!--    <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">-->
            <!--        <div class="col-lg-12 padding0">-->
            <!--            <a href="game/new"><button type="button" class="btn btn-danger width100"><span class="glyphicon glyphicon-bullhorn"></span> Oyun Təşkil elə</button></a>-->
            <!--        </div>-->
            <!--        <div class="clear push10"></div>-->
            <!--        <div class="panel panel-default" login-panel></div>-->
            <!--    </div><!--/span-->
            <!--</div>/row-->
<div class="by amt">
  <div class="gc">
    <div class="gn">

      <div class="ca alu">
        <a ui-sref="games({id: 1})" class="b">
          <span class="h uy eg"></span>
          Xalça
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Futzal
        </a>
        <a ui-sref="games({id: 2})" class="b">
          <span class="h uy eg"></span>
          Süni-ot
        </a>
      </div>
      <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Yaxın komandalar <small>· <a href="#">Hamısı</a></small></h5>
        </div>
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx">
        <li class="b aml">
          <h3 class="alc">Xalça mydançalar</h3>
        </li>
        <li class="b aml">
            <div class="qw relative padding0" style="height: 200px;">
              <div id="map"></div>
            </div>
        </li>
        <li class="b qf aml">
            <table class="cn table-striped table-responsive table-heveskar">
                <thead>
                    <th></th><th>tutum</th><th>Ünvan</th><th>Telefon</th><th>Nəzarətçi</th><th></th>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;">
                            <a class="team-name" ui-sref="teamInfo({name:game.teamId.name})">
                                <img src="https://cbspittsburgh.files.wordpress.com/2013/11/crop_down9.jpg?w=610&h=490" class="fl_left">
                                Azfar (Tərlan Şadlıq Sarayı)
                            </a>
                        </td>
                        <td>12 nəfər</td>
                        <td>Ünvan</td>
                        <td>012 431 6454</td>
                        <td>Akif</td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" class="tr cg fx">
                                Ətraflı
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        
      </ul>
      <ul class="ca qo anx" ng-if="pageId == 2">
        <li class="b aml">
          <h3 class="alc">Qarışıq oyunlar</h3>
        </li>

        <li class="b qf aml">
            <table class="cn table-striped table-responsive table-heveskar">
                <thead>
                    <th></th><th>Tarix</th><th>Bölgü</th><th>say</th><th>Stadion</th><th>Ödəniş</th><th>Qoşulub</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="game in mixgames">
                        <td style="text-align:left;" ng-if="game.team == 1">
                            <a ui-sref="teamInfo({name:game.teamId.name})"><img class="img-circle" ng-src="{{game.teamId.img}}">{{game.teamId.name}}</a>
                        </td>
                        <td style="text-align:left;" ng-if="game.team == 2">
                            <a ui-sref="profile({username:game.created.by.username})"><img class="img-circle" ng-src="{{game.created.by.img}}">{{game.created.by.username}}</a>
                        </td>
                        <td ng-bind="game.date | date:'dd MMM hh:mm'"></td>
                        <td>{{game.division == 1 ? 'Seçmə' : 'Qarışıq'}}</td>
                        <td>{{game.countPlayers}} {{game.countPlayers}}</td>
                        <td>{{game.stadium}}</td>
                        <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                        <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                        <td><a href="#">{{!game.connected.length ? 0 : game.connected.length}} / {{game.countPlayers*2}} nəfər </a></td>
                        <td>
                            <button type="button" ui-sref="gamesMore({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        
      </ul>
    </div>
    <div class="gn">
        <div new-game></div>
        <div class="qv rc sm sp" maybe-acquaintance ng-if="authentication.isAuth"></div>


        <div class="qv rc aok" footer-area></div>
    </div>
  </div>
</div>
