
<div class="by amt">
  <div class="gc">
    <div class="gn">
      <div class="qv rc aog alu">
        <div class="qx" style="background-image: url(assets/img/image3.jpg)/*tpa=http://bootstrap-themes.github.io/application/assets/img/iceland.jpg*/;"></div>
        <div class="qw dj">
          <a href="profile/index.html" tppabs="http://bootstrap-themes.github.io/application/profile/index.html">
            <img class="aoh cu" ng-src="{{team.img}}">
          </a>

          <h5 class="qy">
            <a class="aku" href="profile/index.html" tppabs="http://bootstrap-themes.github.io/application/profile/index.html">{{team.name}}</a>
          </h5>

          <!-- <p class="alu">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p> -->

          <ul class="aoi">
            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Üzvlər
                <h5 class="ali">{{members.length}} nəfər</h5>
              </a>
            </li>

            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Oyunlar
                <h5 class="ali">{{team.statistics.played}}</h5>
              </a>
            </li>
          </ul>
          <div class="push10" style="border-bottom: 1px solid #d4dbe0;"></div>
          <button class="cg tt fx"><span class="h aed"></span> Təklif</button>
          <button class="cg fx tt" ng-class="{'active': captain || isJoined==1 || isJoined==2}"
          ng-click="joinTeam()" 
          ng-mouseenter="hoverJoinButton=true" 
          ng-mouseleave="hoverJoinButton=false"
          >
            <span 
              ng-class="{
                vc: !captain && !isJoined || isJoined == 3,
                xl: (captain || isJoined==1) && !hoverJoinButton,
                zl: (captain || isJoined==1 || isJoined == 2) && hoverJoinButton,
                zo: (!captain && isJoined==2) && !hoverJoinButton
              }" class="h"></span> Üzvlük
          </button>
          <button class="cg fx tr"><span class="h yh"></span></span> Şikayət</button>
        </div>
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx">
        <li class="b aml" ng-if="isJoined==true && wantedMembers.length">
          <h3 class="alc">Komandaya qoşulmaq istəyənlər</h3>
        </li>
        <ul class="qo cj ca" ng-if="isJoined==true && wantedMembers.length">
          <li class="b" ng-repeat="m in wantedMembers">
            <div class="qf">
              <a class="qj" ui-sref="profile({username:m.userId.username})">
                <img class="qh cu" ng-src="{{m.userId.img}}">
              </a>
              <div class="qg">
                    <button ng-click="rejectJoining(m.reqId)" class="cg tr fx eg mgL10">
                      <span class="h ago"></span> İmtina et
                    </button>
                    <button ng-click="acceptJoining(m.reqId)" class="cg tt fx eg">
                        <span class="h vc"></span> Üzv et
                    </button>
                <strong>{{m.userId.username}}</strong>
                <small>@ Bakı, Yasamal </small>
              </div>
            </div>
          </li>
        </ul>
        
        <li class="b aml">
            <h3 class="alc">Komanda üzvləri
                <button ng-click="newPlayer()" ng-if="isJoined==true" class="cg fz tt eg">
                    <span class="h vc"></span>
                    Yeni üzv
                </button>
            </h3>
        </li>

        <li class="b qf aml">
          <div class="alk">
              <div class="gc">
                <div class="gz" ng-repeat="member in tIC.members">
                  <div class="qv rc aog">
                    <div class="qx" style="background-image: url(../assets/img/image.jpg);">
                        <button class="cg fx tt active eg" 
                        ng-click="removeJoined(member.userId._id)"
                        ng-if="captain && member.userId._id != authentication.userData._id" 
                        ng-mouseenter="member.userId.hover = true" 
                        ng-mouseleave="member.userId.hover = false">
                            <span ng-class="{
                                ajv: !member.userId.hover,
                                zl : member.userId.hover
                              }" class="h zl"></span>
                        </button>
                    </div>
                    <div class="qw dj">
                      <a ui-sref="profile({username:member.userId.username})"><img class="aoh" ng-class="{captain: member.captain}" src="{{member.userId.img}}"></a>

                      <h5 class="qy">{{member.userId.username}}</h5>
                      <p class="alu">{{member.userId.position==1 ? 'Qapıçı' : '' }}{{member.userId.position==2 ? 'Müdafiəçi' : '' }}{{member.userId.position==3 ? 'Y-müdafiə' : '' }}{{member.userId.position==4 ? 'Hücumçu' : '' }}{{member.userId.position==5 ? 'Universal' : '' }}</p>
                      <button class="cg fx tt" ng-if="authentication.userData._id != member.userId._id"
                      ng-class="{'active': (acquaintances[item._id] && acquaintances[item._id].offer.sender == false) ||
                        acquaintances[item._id].offer.confirmed == true }"
                      ng-click="addAcquaintance(member.userId._id)",
                      ng-mouseenter="hoverAddAcq = true"
                      ng-mouseleave="hoverAddAcq = false"
                      >
                        <span class="h" 
                        ng-class="{
                            'xl': acquaintances[member.userId._id].offer.confirmed == true && !hoverAddAcq,
                            'zl': (acquaintances[member.userId._id].offer.confirmed == true && hoverAddAcq) ||
                                  (acquaintances[member.userId._id].offer.confirmed == false && 
                                    acquaintances[member.userId._id].offer.sender == false && hoverAddAcq),
                            'vc' : !acquaintances[member.userId._id] || 
                                    ( acquaintances[member.userId._id].offer.sender == true &&
                                    acquaintances[member.userId._id].offer.confirmed == false),
                            'zo': acquaintances[member.userId._id].offer.confirmed == false && 
                                acquaintances[member.userId._id].offer.sender == false && !hoverAddAcq
                        }"></span> Tanış
                      </button>
                      <button class="cg fx tt" ng-if="authentication.userData._id != member.userId._id">
                        <span class="h xk"></span> Mesaj
                      </button>
                      <button class="cg tt fx" ng-if="authentication.userData._id != member.userId._id">
                        <span class="h aed"></span> Təklif
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </li>

      </ul>
    </div>



    <div class="gn">
      <div login-alert></div>

      <div class="qv rc alu ss">
        <div class="qw">
        <h5 class="ald">Likes <small>· <a href="#">View All</a></small></h5>
        <ul class="qo anx">
          <li class="qf alm">
            <a class="qj" href="#">
              <img
                class="qh cu"
                src="assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
            </a>
            <div class="qg">
              <strong>Jacob Thornton</strong> @fat
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Follow</button>
              </div>
            </div>
          </li>
           <li class="qf">
            <a class="qj" href="#">
              <img
                class="qh cu"
                src="assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
            </a>
            <div class="qg">
              <strong>Mark Otto</strong> @mdo
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Follow</button></button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="qz">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>

      <div class="qv rc" footer-area></div>
    </div>
  </div>
</div>