<style type="text/css">
/*	input.error{border-color: #a94442;}
    .help-block{color:#a94442;}*/
</style>
<!--             <div class="clear push60"></div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9 sidebar-offcanvas"> -->
                	<!-- <div class="alert alert-danger" ng-if="!uPC.userInfo" role="alert">
                		<span class="glyphicon glyphicon-exclamation-sign"></span> Təəssüf ki, bu adda həvəskar tapılmadı!</div> -->
                    <!-- <div class="panel panel-default">                    	
                        <div class="panel-heading">
                            <h3 class="panel-title">Komandalar</h3>
                      	</div>
                        <div class="panel-body"> 
                        	<div class="row">
							  <div class="col-lg-4" ng-repeat="team in teams">
							    <div class="thumbnail">
							      <div style="overflow:hidden;height:160px;"><img style="width:100%" ng-src="{{team.img}}"></div>
							      <div class="caption">
							        <span style="font-size:larger;">{{team.name}}</span> <span class="fl_right text-muted">{{team.statistics.points}} xal</span>
							        <p style="margin-top:5px;margin-bottom:0px;">
                                        <a href="#" class="btn btn-primary btn-block" role="button" ui-sref="teamInfo({name: team.name})">Ətraflı</a>
                                    </p>
							      </div>
							    </div>
							  </div>
							</div>
                        </div>
                    </div><!--/row--
                </div><!--/span--

                <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="col-lg-12 padding0">
                        <a href="game/new"><button type="button" class="btn btn-danger width100"><span class="glyphicon glyphicon-bullhorn"></span> Oyun Təşkil elə</button></a>
                    </div>
                    <div class="clear push10"></div>
                    <div class="panel panel-default" login-panel></div>
                </div><!--/span--
            </div><!--/row-->



<div class="by amt">
  <div class="gc">
    <div class="gz">
      <ul class="ca qo anx">
        <li class="b aml">
          <h3 class="alc">Komandalar</h3>
        </li>

        <li class="b qf aml">
            <table class="cn table-striped table-responsive table-heveskar">
                <thead>
                    <th></th><th>Heyət</th><th>Oyun sayı</th><th>Xal</th><th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="team in teams">
                        <td style="text-align:left;">
                            <a class="team-name" ui-sref="teamInfo({name:team.name})"><img class="cu fl_left" ng-src="{{team.img}}">{{team.name}}</a>
                        </td>
                        <td>{{team.members.length}} nəfər</td>
                        <td>{{team.statistics.played}} dəfə</td>
                        <td>{{team.statistics.points}}</td>
                        <td>
                            <button class="cg tr fx" ui-sref="teamInfo({name:team.name})">Ətraflı</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>        
      </ul>
    </div>
    <div class="gz">
      <div class="qv rc alu ss">
        <div class="qw relative padding0" style="height: 400px;">
          <div id="map"></div>
        </div>
      </div>
      <div class="qv rc" footer-area></div>
    </div>
  </div>
</div>