<!--<style type="text/css">
	input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
    .panel-table th{text-align: left;}
</style>
<div class="">
    <div class="col-xs-12 col-sm-9 sidebar-offcanvas">
    	<div class="alert alert-danger" ng-if="!uPC.userInfo" role="alert">
    		<span class="glyphicon glyphicon-exclamation-sign"></span> Təəssüf ki, bu adda həvəskar tapılmadı!</div>
        <div class="panel panel-default panel-table" ng-if="uPC.userInfo">                    	
            <div class="panel-heading">
                <h3 class="panel-title table">{{uPC.userInfo.data.username}}
                	<button ng-if="!userInfo.isOwnProfile" class="btn btn-xs btn-default fl_right">
                        <span class="glyphicon glyphicon-comment"></span>
                       	Mesaj yaz
                    </button>

                    <button ng-if="!userInfo.isOwnProfile && isAcquaintance==3" style="margin-right:5px;" 
                            class="btn btn-xs btn-default fl_right" ui-sref="myrequests()"
                            >
                        <span>
                            <span class="glyphicon glyphicon-time"></span>
                            Sizə Təklif göndərib...
                        </span>
                    </button>
                	<button ng-if="!userInfo.isOwnProfile && isAcquaintance!=3" style="margin-right:5px;" 
                	class="btn btn-xs fl_right" ng-click="addAcquaintance()" ng-mouseenter="acqOnMouseover()"
                	ng-mouseleave="acqOnMouseout()"
                	ng-class="{'btn-primary': !isAcquaintance,'btn-default': isAcquaintance==2,
                	'btn-success': isAcquaintance==true}"
                	>
                		<span ng-if="!isAcquaintance">
                			<span class="glyphicon glyphicon-plus"></span>
                        	Tanışlara əlavə et
                    	</span>
                    	<span ng-if="!hoverAcqButton && isAcquaintance==2">
                			<span class="glyphicon glyphicon-time"></span>
                        	Təklifiniz göndərilib...
                    	</span>
                    	<span ng-if="isAcquaintance==true && !hoverAcqButton">
                			<span class="glyphicon glyphicon-ok"></span>
                			&nbsp;&nbsp;Tanışlar&nbsp;&nbsp;&nbsp;&nbsp;
                    	</span>
                    	<span ng-if="hoverAcqButton && isAcquaintance">
                			<span class="glyphicon glyphicon-remove"></span>
                			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;İmtina et&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    	</span>
                    </button>
                </h3>
          	</div>
            <div class="panel-body"> 
            	<div class="col-lg-3">      
                    <center>
                    <div class="userimg-thumb-box push5">
		               <div ng-if="!uPC.uploadedImg && uPC.userInfo.isOwnProfile" class="userimg-thumb-box-overlay img-rounded">
		                	<div class="btn-group" role="group" style="top: 50%;margin-top: -17px;">
							  <div class="btn-group" role="group">
							    <button
							    	ng-click="openFull(uPC.userInfo.data.img)" 
							    	type="button" class="glyphicon btn-md glyphicon-resize-full">
							    </button>
							  </div>
							  <div class="btn-group" role="group">
							    <button 
							    	ng-click="changeImg()" 
							    	type="button" class="glyphicon btn-md btn-file glyphicon-camera">
							    	<input type="file" fileread="uPC.uploadedImg">
							    </button>
							  </div>
							  <div class="btn-group" role="group">
							    <button 
							    	ng-click="delImg()" 
							    	type="button" class="glyphicon btn-md glyphicon-remove">
							    </button>
							  </div>
							</div>
		             	</div>
		                <img style="width:170px;height:170px;" ng-if="!uPC.uploadedImg" ng-src="{{uPC.userInfo.data.img}}" class="img-responsive img-thumbnail">
		                <div class="progress" id="uploadingAvatarBar" ng-if="uPC.uploadedImg" style="margin:76px 0px;">
						  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" id="uploadingAvatar" aria-valuemin="0" aria-valuemax="100" style="width:0px;">
						  </div>
						</div>
		            </div>
                    <!-- <img style="width:160px;height:160px;" src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/914355_287831731397977_993797718_n.jpg" class="img-rounded push10"> --
                    </center>
                    <div class="btn-group btn-block">
                    	<button type="button" class="btn btn-block" ng-class="{
                    	'btn-warning' : uPC.userInfo.data.position==1,
                    	'btn-primary' : uPC.userInfo.data.position==2,
                    	'btn-success' : uPC.userInfo.data.position==3,
                    	'btn-danger' : uPC.userInfo.data.position==4,
                    	'btn-info' : uPC.userInfo.data.position==5
                    	}">
                    		<span class="glyphicon glyphicon-user"></span>
                    		{{uPC.userInfo.data.position==1 ? 'Qapıçı' : '' }}
        					{{uPC.userInfo.data.position==2 ? 'Müdafiəçi' : '' }}
        					{{uPC.userInfo.data.position==3 ? 'Yarımmüdafiəçi' : '' }}
        					{{uPC.userInfo.data.position==4 ? 'Hücumçu' : '' }}
        					{{uPC.userInfo.data.position==5 ? 'Universal' : '' }}
                    	</button>
                    </div>
                    <div class="btn-group btn-block push5">
                    	<button type="button" class="btn btn-default btn-block">
                    		<span class="glyphicon glyphicon-star"></span> Reytinq 80/100
                    	</button>
                    </div>
                </div>
                <div class="col-lg-9" style="min-height:600px;">
                	<div class="alert alert-success" ng-if="uPC.saveFeedback==true" role="alert">
                		<span class="glyphicon glyphicon-exclamation-sign"></span> 
                		Dəyişiklik yadda saxlanıldı!
            		</div>
                	<div class="bg-primary img-rounded push10" style="padding:10px 10px;">
                		<h4 style="margin:0px;">Şəxsi məlumatlar
                	<button ng-if="uPC.userInfo.isOwnProfile" style="border-radius:12px;" class="btn btn-default btn-xs" ng-click="uPC.edit()">    <span ng-if="!uPC.editForm">&nbsp; Düzəliş et <span class="glyphicon glyphicon-pencil text-primary"></span> &nbsp;</span>
                	    <span ng-if="uPC.editForm">&nbsp; İmtina et <span class="glyphicon glyphicon-remove text-primary"></span> &nbsp;</span>

                	</button>
                	<button style="border-radius:12px;" ng-if="
                	uPC.editForm && !uPC.usernameErr && !uPC.samepasswordErr &&
                	(uPC.previousUserInfo.username != uPC.userInfo.data.username ||
					uPC.previousUserInfo.name != uPC.userInfo.data.name ||
					uPC.previousUserInfo.phone != uPC.userInfo.data.phone ||
					uPC.previousUserInfo.email != uPC.userInfo.data.email ||
					uPC.previousUserInfo.age != uPC.userInfo.data.age ||
					uPC.previousUserInfo.gender != uPC.userInfo.data.gender ||
					uPC.previousUserInfo != uPC.userInfo.data ||
					uPC.previousUserInfo.position != uPC.userInfo.data.position ||
					uPC.previousUserInfo.level != uPC.userInfo.data.level ||
					uPC.previousUserInfo.newPassword != uPC.userInfo.data.newPassword)" 
					class="btn btn-success btn-xs" ng-click="uPC.save()">    
                		<span>&nbsp; Yadda saxla &nbsp;</span>
                	</button>
                	</h3>
                	</div>
                	<div class="table-responsive">
                    	<table class="table">
                    		<tbody>
                    			<tr>
                    				<th class="col-lg-8">Həvəskar ad:</th>
                    				<td class="col-lg-4" ng-if="!uPC.editForm">{{uPC.userInfo.data.username}}</td>
                					<td class="col-lg-4" ng-if="uPC.editForm"><input type="text" class="form-control fl_right" ng-blur="checkUsername()" ng-class="{error: usernameErr}" ng-model="uPC.userInfo.data.username">
                					<span class="help-block" ng-if="usernameErr">Bu həvəskar ad mövcuddur</span>
                    				</td>
                    			</tr>
                    			<tr ng-if="uPC.editForm">
                    				<th>Şifrə:</th>
                    				<td>
                    					<div class="row push5">
                    						<div class="col-lg-6">
                    							Cari şifrə:
                    						</div>
                    						<div class="col-lg-6">
                    							<input type="password"
                    							ng-model="uPC.userInfo.data.currentPassword" class="form-control btn-xs btn-block">
                    						</div>
            							</div>
            							<div class="row push5">
                    						<div class="col-lg-6">
                    							Yeni şifrə:
                    						</div>
                    						<div class="col-lg-6">
                    							<input type="password" 
                    							ng-model="uPC.userInfo.data.newPassword"
                    							class="form-control btn-xs btn-block">
                    						</div>
            							</div>
            							<div class="row push5">
                    						<div class="col-lg-6">
                    							Təkrar şifrə:
                    						</div>
                    						<div class="col-lg-6">
                    							<input 
                        							ng-model="uPC.userInfo.data.repeatNewPassword"
                        							type="password" ng-class="{error: samepasswordErr}" 
                        							ng-blur="checkPasswords()" 
                        							class="form-control btn-xs btn-block">
                    							<span class="help-block" ng-if="samepasswordErr">Təkrar şifrə uyğun deyil</span>
                    						</div>
            							</div>
                    				</td>
                    			</tr>
                    			<tr>
                    				<th>Ad və Soyad:</th>
                        			<td ng-if="!uPC.editForm">{{uPC.userInfo.data.name}}</td>
                        			<td ng-if="uPC.editForm">
                        				<input type="text" class="form-control fl_right" ng-model="uPC.userInfo.data.name">
                    				</td>
                    			</tr>
                    			<tr>
                    				<th>Mobil nömrə:</th>
                        			<td ng-if="!uPC.editForm">{{uPC.userInfo.data.phone}}</td>
                        			<td ng-if="uPC.editForm"><input type="text" class="form-control fl_right" ng-model="uPC.userInfo.data.phone">
                    				</td>
                    			</tr>
                    			<tr>
                    				<th>E-mail:</th>
                        			<td ng-if="!uPC.editForm">{{uPC.userInfo.data.email}}</td>
									<td ng-if="uPC.editForm">
										<input type="text" class="form-control fl_right" ng-model="uPC.userInfo.data.email">
                        			</td>
                    			</tr>
                    			<tr>
                    				<th>Doğum tarixi:</th>
                    				<td ng-if="!uPC.editForm">{{uPC.userInfo.data.birthday}}</td>
                    				<td ng-if="uPC.editForm">
                    					<input type="text" ng-model="uPC.userInfo.data.birthday" class="form-control" placeholder="1994-12-31"/>
                    				</td>
                    			</tr>
                    			<tr>
                    				<th>Cins:</th>
                    				<td ng-if="!uPC.editForm">{{uPC.userInfo.data.gender==2 ? 'Qadın' : 'Kişi'}}</td>
                					<td ng-if="uPC.editForm">
                    					<select class="form-control btn-block" ng-model="uPC.userInfo.data.gender">
                    						<option ng-value="1" ng-selected="uPC.userInfo.data.gender==1">Kişi</option>
                    						<option ng-value="2" ng-selected="uPC.userInfo.data.gender==2">Qadın</option>
                    					</select>
                					</td>
                    			</tr>
                    			<tr>
                    				<th>Yaşayış yeri:</th>
                    				<td ng-if="!uPC.editForm">{{uPC.userInfo.data}}</td>
                					<td ng-if="uPC.editForm">
                    					<input type="text" class="form-control fl_right" ng-model="uPC.userInfo.data">
                    				</td>
                    			</tr>
                    		</tbody>	
                    	</table>
                	</div>                               
                    <div class="bg-primary img-rounded push10" style="padding:10px 10px;">
                		<h4 style="margin:0px;">Həvəskar məlumatlar</h4>
            		</div>
                    <div class="table-responsive">
                    	<table class="table">
                    		<tbody>
                    			<tr>
                    				<th class="col-lg-8">Futbolçu mövqeyi:</th>
                    				<td class="col-lg-4" ng-if="!uPC.editForm">
                    					{{uPC.userInfo.data.position==1 ? 'Qapıçı' : '' }}
                    					{{uPC.userInfo.data.position==2 ? 'Müdafiəçi' : '' }}
                    					{{uPC.userInfo.data.position==3 ? 'Yarımmüdafiəçi' : '' }}
                    					{{uPC.userInfo.data.position==4 ? 'Hücumçu' : '' }}
                    					{{uPC.userInfo.data.position==5 ? 'Universal' : '' }}
                    				</td>
                    				<td class="col-lg-4" ng-if="uPC.editForm">
                    					<select class="form-control btn-block fl-right" ng-model="uPC.userInfo.data.position">
                    						<option ng-value="1" ng-selected="uPC.userInfo.data.position==1">Qapıçı</option>
                    						<option ng-value="2" ng-selected="uPC.userInfo.data.position==2">Müdafiəçi</option>
                    						<option ng-value="3" ng-selected="uPC.userInfo.data.position==3">Yarımmüdafiəçi</option>
                    						<option ng-value="4" ng-selected="uPC.userInfo.data.position==4">Hücumçu</option>
                    						<option ng-value="5" ng-selected="uPC.userInfo.data.position==5">Universal</option>
                    					</select>
                					</td>
                				</tr>
                    			<tr>
                    				<th class="col-lg-8">Futbolçu səviyyəsi:</th>
                					<td class="col-lg-4" ng-if="!uPC.editForm">
                						{{uPC.userInfo.data.level==2 ? 'Peşəkar' : 'Həvəskar'}}
                					</td>
                					<td class="col-lg-4" ng-if="uPC.editForm">
                    					<select class="form-control btn-block" ng-model="uPC.userInfo.data.level">
                    						<option ng-value="1" ng-selected="uPC.userInfo.data.level==1">Həvəskar</option>
                    						<option ng-value="2" ng-selected="uPC.userInfo.data.level==2">Peşəkar</option>
                    					</select>
                					</td>
                    			</tr>
                    		</tbody>	
                    	</table>
                	</div> 
                </div>
            </div>
        </div><!--/row--
    </div><!--/span--
    <div class="col-sm-3">
        <div class="list-group push5">
            <a class="list-group-item disabled">Komandalar({{teams.length}})</a>
            <a ui-sref="teamInfo({name:t.teamId.name})" class="list-group-item" ng-repeat="t in teams">
                <img style="width:20px;" class="img-circle" ng-src="{{t.teamId.img}}">
                &nbsp;{{t.teamId.name}}
                <span style="top:0px !important;" class="glyphicon btn-lg glyphicon-copyright-mark captain ng-scope" ng-if="t.captain"></span>
            </a>
            <a ng-if="teams.length>=5" class="list-group-item text-center">...</a>
        </div>
        <div class="list-group">
            <a class="list-group-item disabled">Tanışlar({{acquaintances.length}})</a>
            <a ui-sref="profile({username:a.username})" class="list-group-item" ng-repeat="a in acquaintances">
                <img style="width:20px;" class="img-circle" ng-src="{{a.img}}">
                &nbsp;{{a.username}}
            </a>
            <a ng-if="acquaintances.length>=5" class="list-group-item text-center">...</a>
        </div>
    </div>
</div><!--/row-->

<div class="ans dj profile">
    <div id="map"></div>
     <div style="position:absolute;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.3);"></div>
  <div class="by relative z1">
    <div class="ant">
      <div class="cu qh relative upload-wrapper" ng-click="changeImg()">
        <div class="cu qh ut image-upload-overlay" ng-if="authentication.userData._id == userInfo.data._id">
          <div class="uv">
            {{!uploading ? 'dəyiş' : 'yüklənir...'  }}
          </div>
		    	<input type="file" ng-hide="true" id="upload" fileread="uploadedImg">
        </div>
        <img class="cu qh" ng-src="{{userInfo.data.img}}">  
      </div>
      
      <h3 class="anv">{{uPC.userInfo.data.username}}</h3>
      <!-- <p class="anu">{{uPC.userInfo.data.username}}</p> -->
      <ul class="aoi">
        <li class="aoj txtright">
          <a ng-click="acquaintancesList()" class="aku">
            Tanışlar
            <h5 class="ali">&nbsp;{{acquaintances.length}}&nbsp;</h5>
          </a>
        </li>

        <li class="aoj txtleft">
          <a ng-click="teamsList()" class="aku" data-toggle="modal">
            Komandalar
            <h5 class="ali">&nbsp;{{teams}}&nbsp;</h5>
          </a>
        </li>
      </ul>
      <button class="cg fx whiteBtn" ng-if="authentication.userData._id != userInfo.data._id"
        ng-class="{'active': isAcquaintance && isAcquaintance != 'deleted'}"
        ng-click="addAcquaintance(userInfo._id)",
        ng-mouseenter="hoverAddAcq = true"
        ng-mouseleave="hoverAddAcq = false"
        >
          <span class="h" 
          ng-class="{
              'xl': isAcquaintance == 'added' && !hoverAddAcq,
              'zl': (isAcquaintance=='added' || isAcquaintance == 'requestSent') && hoverAddAcq,
              'vc' : isAcquaintance == 'deleted' || isAcquaintance == 'receivedRequest',
              'zo': isAcquaintance == 'requestSent' && !hoverAddAcq
          }"></span> Tanış
        </button>
        <button class="cg fx whiteBtn" ng-if="authentication.userData._id != userInfo.data._id">
          <span class="h xk"></span> Mesaj
        </button>
        <button class="cg fx whiteBtn" ng-if="authentication.userData._id != userInfo.data._id">
          <span class="h aed"></span> Təklif
        </button>
      
      
    </div>
  </div>

  <!--<nav class="anw">-->
  <!--  <ul class="nav ol">-->
  <!--    <li class="active">-->
  <!--      <a href="#">Photos</a>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <a href="#">Others</a>-->
  <!--    </li>-->
  <!--    <li>-->
  <!--      <a href="#">Anothers</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--</nav>-->
</div>

<div class="by amt">
  <div class="gc">
    <div class="gn">

        <div class="qv rc sm sp">
            <div class="qw">
              <h5 class="ald">Haqqında 
                <small ng-if="authentication.userData._id == userInfo.data._id && editForm" >· 
                  <a ng-if="editForm" ng-click="uPC.save()">Yadda saxla </a>
                </small>
                <small ng-if="authentication.userData._id == userInfo.data._id && editForm">· 
                  <a ng-if="editForm" class="cancel-a" ng-click="uPC.edit()">İmtina et</a>
                </small>
                <small ng-if="authentication.userData._id == userInfo.data._id && !editForm">· 
                  <a ng-if="!editForm" ng-click="uPC.edit()">Düzəliş et</a>
                </small>
              </h5>
              <ul class="eb tb">
                <!-- <li><span class="dp h ajv all"></span>Həvəskar ad: <a href="#">{{uPC.userInfo.data.username}}</a></li> -->
                <li>
                  <span class="dp h ajx all"></span>{{!editForm ? 'Ad, Soyad: ' : ''}}
                  <a ng-if="!editForm">{{uPC.userInfo.data.name}}</a>
                  <input ng-if="editForm" type="text" class="form-control user-edit" ng-model="userInfo.data.name">
                </li>
                <li><span class="dp h xf all"></span>{{!editForm ? 'Doğum tarixi: ' : ''}}
                  <a ng-if="!editForm">{{userInfo.data.birthday}}</a>
                  <input ng-if="editForm" type="text" class="form-control user-edit" ng-model="userInfo.data.birthday">
                </li>
                <li><span class="dp h ajx all"></span>{{!editForm ? 'Cins: ' : ''}} 
                  <a ng-if="!editForm">{{userInfo.data.gender==2 ? 'Qadın' : 'Kişi'}}</a>
                  <select ng-if="editForm" class="form-control user-edit" ng-model="userInfo.data.gender">
        						<option ng-value="1" ng-selected="userInfo.data.gender!=2">Kişi</option>
        						<option ng-value="2" ng-selected="userInfo.data.gender==2">Qadın</option>
        					</select>
                </li>
                <li><span class="dp h adu all"></span>{{!editForm ? 'Ünvan: ' : ''}}
                  <a ng-if="!editForm">{{userInfo.data.address}}</a>
                  <input ng-if="editForm" type="text" class="form-control user-edit" ng-model="userInfo.data">
                </li>
                <li><span class="dp h afg all"></span>{{!editForm ? 'Mobil: ' : ''}} 
                  <a ng-if="!editForm">{{userInfo.data.phone}}</a>
                  <input ng-if="editForm" type="text" class="form-control user-edit" ng-model="userInfo.data.phone">
                </li>
                <li><span class="dp h aai all"></span>{{!editForm ? 'E-mail: ' : ''}} 
                  <a ng-if="!editForm">{{userInfo.data.email}}</a>
                  <input ng-if="editForm" type="text" class="form-control user-edit" ng-model="userInfo.data.email">
                </li>
                <li><span class="dp h adt all"></span>{{!editForm ? 'Mövqe: ' : ''}} 
                  <a ng-if="!editForm">
                    {{uPC.userInfo.data.position==1 ? 'Qapıçı' : '' }}
                    {{uPC.userInfo.data.position==2 ? 'Müdafiəçi' : '' }}
                    {{uPC.userInfo.data.position==3 ? 'Yarımmüdafiəçi' : '' }}
                    {{uPC.userInfo.data.position==4 ? 'Hücumçu' : '' }}
                    {{uPC.userInfo.data.position==5 ? 'Universal' : '' }}
                  </a>
                  <select class="form-control user-edit" ng-if="editForm" ng-model="userInfo.data.position">
        						<option ng-value="1" ng-selected="userInfo.data.position==1">Qapıçı</option>
        						<option ng-value="2" ng-selected="userInfo.data.position==2">Müdafiəçi</option>
        						<option ng-value="3" ng-selected="userInfo.data.position==3">Yarımmüdafiəçi</option>
        						<option ng-value="4" ng-selected="userInfo.data.position==4">Hücumçu</option>
        						<option ng-value="5" ng-selected="userInfo.data.position==5">Universal</option>
        					</select>
                </li>
                <li><span class="dp h aee all"></span>{{!editForm ? 'Səviyyə: ' : ''}} 
                  <a ng-if="!editForm">{{uPC.userInfo.data.level==2 ? 'Peşəkar' : 'Həvəskar'}}</a>
                  <select class="form-control user-edit" ng-if="editForm" ng-model="userInfo.data.level">
        						<option ng-value="1" ng-selected="userInfo.data.level!=2">Həvəskar</option>
        						<option ng-value="2" ng-selected="userInfo.data.level==2">Peşəkar</option>
        					</select>
                </li>
              </ul>
            </div>
        </div>
    </div>

    <div class="gz">
      
      <ul class="ca qo anx">

        <li class="qf b aml">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Message">
            <div class="fj">
              <button type="button" class="cg fm">
                <span class="h xi"></span>
              </button>
            </div>
          </div>
        </li>

        <li class="qf b aml">
          <a class="qj" href="#">
            <img
              class="qh cu"
              src="assets/img/avatar-dhg.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
          </a>
          <div class="qg">
            <div class="qn">
              <small class="eg dp">4 min</small>
              <h5>Dave Gamache</h5>
            </div>

            <p>
              Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>

            <div class="any" data-grid="images">
              <div style="display: none">
                <img data-action="zoom" data-width="1050" data-height="700" src="assets/img/unsplash_1.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/unsplash_1.jpg">
              </div>

              <div style="display: none">
                <img data-action="zoom" data-width="640" data-height="640" src="assets/img/instagram_1.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/instagram_1.jpg">
              </div>

              <div style="display: none">
                <img data-action="zoom" data-width="640" data-height="640" src="assets/img/instagram_13.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/instagram_13.jpg">
              </div>

              <div style="display: none">
                <img data-action="zoom" data-width="1048" data-height="700" src="assets/img/unsplash_2.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/unsplash_2.jpg">
              </div>
            </div>

            <ul class="qo alm">
              <li class="qf">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
                </a>
                <div class="qg">
                  <strong>Jacon Thornton: </strong>
                  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                </div>
              </li>
              <li class="qf">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
                </a>
                <div class="qg">
                  <strong>Mark Otto: </strong>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li class="qf b aml">
          <a class="qj" href="#">
            <img
              class="qh cu"
              src="assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
          </a>
          <div class="qg">
            <div class="aoc">
              <div class="qn">
                <small class="eg dp">12 min</small>
                <h5>Jacob Thornton</h5>
              </div>
              <p>
                Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
        </li>

        <li class="qf b aml">
          <a class="qj" href="#">
            <img
              class="qh cu"
              src="assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
          </a>
          <div class="qg">
            <div class="qn">
              <small class="eg dp">34 min</small>
              <h5>Mark Otto</h5>
            </div>

            <p>
              Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>

            <div class="any" data-grid="images">
              <img style="display: none" data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_3.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/instagram_3.jpg">
            </div>

            <ul class="qo">
              <li class="qf">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="assets/img/avatar-dhg.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
                </a>
                <div class="qg">
                  <strong>Dave Gamache: </strong>
                  Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="gn">
      
      
      <div login-alert></div>

      <div class="qv rc alu ss">
        <div class="qw">
        <h5 class="ald">Tanıdın? <small>· <a href="#">Hamısı</a></small></h5>
        <ul class="qo anx">
          <li class="qf alm">
            <a class="qj" href="#">
              <img
                class="qh cu"
                src="assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
            </a>
            <div class="qg">
              <strong>Tofiq Huseynov</strong> @fat
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Tanış</button>
              </div>
            </div>
          </li>
           <li class="qf">
            <a class="qj" href="#">
              <img
                class="qh cu"
                src="assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
            </a>
            <div class="qg">
              <strong>Akif Məmmədov</strong> @mdo
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Tanış</button></button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="qz">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>

      <div class="qv rc aok">
        <div class="qw">
          © 2015 Bootstrap

          <a href="#">About</a>
          <a href="#">Help</a>
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Cookies</a>
          <a href="#">Ads </a>

          <a href="#">info</a>
          <a href="#">Brand</a>
          <a href="#">Blog</a>
          <a href="#">Status</a>
          <a href="#">Apps</a>
          <a href="#">Jobs</a>
          <a href="#">Advertise</a>
        </div>
      </div>
    </div>
  </div>
</div>