    <!--<style type="text/css">
    	input.error{border-color: #a94442;}
        .help-block{color:#a94442;}
    </style>
                <div class="">
                    <div class="col-xs-12 col-sm-9 sidebar-offcanvas">
                        <div class="panel panel-default panel-table">                    	
                            <div class="panel-heading">
                                <h3 class="panel-title">Komandalarım
                                    <button ng-click="newTeam()" class="btn btn-xs btn-default fl_right">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Yeni komanda
                                    </button>
                                </h3>
                          	</div>
                            <div class="panel-body"> 
                                <div class="alert alert-warning" ng-if="!teams" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> Təəssüf ki,siz heç bir komanda üzvü deyilsiniz! <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="pointer" ng-click="newTeam()">Öz komandanızı yarad</a>a və ya <a ui-sref="teams">Mövcud Komandalar</a>dan birinə qatıla bilərsiniz.</p>
                                </div>
                                <table class="table games">
                                    <tbody>
                                        <tr ng-repeat="team in teams">
                                            <td style="text-align:left;">
                                                <a ui-sref="teamInfo({name:team.teamId.name})">
                                                <img class="img-circle" ng-src="{{team.teamId.img}}">{{team.teamId.name}}</a>
                                            </td>
                                            <!-- <td ng-bind="game.date | date:'dd MMM hh:mm'"></td> --
                                            <td>{{team.members.length}} nəfər</td>
                                            <td>{{team.teamId.statistics.points}} xal</td>
                                            <!-- <td>{{game.stadium}}</td>
                                            <td ng-if="game.plan.type == 1">Yarı-yarı</td>
                                            <td ng-if="game.plan.type == 2">{{game.plan.winner+ ' - ' +game.plan.loser}} Azn</td>
                                            <td><a href="#">{{!game.connected.length ? 0 : game.connected.length}} / {{game.countPlayers*2}} nəfər </a></td>
                                            <td>
                                                <button type="button" ui-sref="gamesMore({id:game._id})" class="btn btn-heveskar btn-md">Qoşul</button>
                                            </td> --
                                        </tr>
                                    </tbody>
                                </table>
                            	<!-- <div class="row">
                                    <div class="col-lg-3" ng-repeat="team in teams">
                                        <div class="thumbnail">
                                            <div style="overflow:hidden;height:130px;">
                                                <img style="width:100%" ng-src="{{team.teamId.img}}">
                                            </div>
                                            <div class="caption">
                                                <span style="font-size:larger;">{{team.teamId.name}}</span> <span class="fl_right text-muted">{{team.teamId.statistics.points}} xal</span>
                                                <p style="margin-top:5px;margin-bottom:0px;"><a href="#" class="btn btn-info btn-block" role="button" ui-sref="teamInfo({name:team.teamId.name})">Ətraflı</a></p>
                                            </div>
                                        </div>
                                    </div>
    							</div> --
                            </div>
                        </div><!--/row--
                    </div><!--/span--
    
                    <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        
                    </div><!--/span--
                </div><!--/row-->
                
                
    <div class="by amt">
      <div class="gc">
        <div class="gn">
    
          <div class="qv rc sm sp">
            <div class="qw">
              <h5 class="ald">Trending Searches <small>· <a href="#">Change</a></small></h5>
              <ul class="eb tb">
                <li><a href="#">#Bootstrap</a>
                <li><a href="#">Mdo for pres</a>
                <li><a href="#">#fatsux</a>
                <li><a href="#">#buyme</a>
                <li><a href="#">#designishard</a>
                <li><a href="#">#helpawesomepeople</a>
                <li><a href="#">#doawesomestuff</a>
                <li><a href="#">Tom Brady</a>
                <li><a href="#">Magna Carta</a>
                <li><a href="#">Mark Otto</a>
                <li><a href="#">Dave Gamache</a>
                <li><a href="#">Jacob Thornton</a>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="gz">
            <div class="alert pv alert-dismissible ss" role="alert" ng-if="!teams.length && ajaxSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                Təəssüf ki,siz heç bir komanda üzvü deyilsiniz! <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="pointer" ng-click="newTeam()">Öz komandanızı yarad</a>a və ya <a ui-sref="teams">Mövcud Komandalar</a>dan birinə qatıla bilərsiniz.
            </div>
            
          <ul class="ca qo anx">
            <li class="b aml">
                <h3 class="alc">Komandalarım
                <button ng-click="newTeam()" class="btn btn-xs btn-default fl_right">
                    <span class="glyphicon glyphicon-plus"></span>
                    Yeni komanda
                </button>
                </h3>
            </li>
    
            <li class="b qf aml">
                <table class="cn table-striped table-responsive table-heveskar">
                    <thead>
                        <th></th><th>Heyət</th><th class="txtcenter">Oynayıb</th><th class="txtcenter">Xal</th><th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams">
                            <td style="text-align:left;">
                                <a class="team-name" ui-sref="teamInfo({name:team.teamId.name})">
                                  <img class="cu fl_left" ng-src="{{team.teamId.img}}">{{team.teamId.name}}
                                </a>
                            </td>
                            <td>{{team.teamId.members.length}} nəfər</td>
                            <td align="center">{{team.teamId.statistics.played}} dəfə</td>
                            <td align="center">{{team.teamId.statistics.points}}</td>
                            <td align="right">
                                <button class="cg tr fx" ui-sref="teamInfo({name:team.name})">Ətraflı</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>        
          </ul>
        </div>
        <div class="gn">
            <button class="cg fq btn-block push10" type="button">
              <span class="h aek"></span>
              Oyun təşkil elə
            </button>
          <div class="qv rc alu ss">
            <div class="qw">
            <h5 class="ald">Yaxın komandalar <small>· <a href="#">Hamısı</a></small></h5>
            <ul class="qo anx">
              <li class="qf alm">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="../assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
                </a>
                <div class="qg">
                  <strong>tetbiq</strong>
                  <div class="aoa">
                    <button class="cg tt fx">
                      <span class="h aed"></span> Təklif göndər</button>
                  </div>
                </div>
              </li>
               <li class="qf">
                <a class="qj" href="#">
                  <img
                    class="qh cu"
                    src="../assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
                </a>
                <div class="qg">
                  <strong>Mark Otto</strong>
                  <div class="aoa">
                    <button class="cg tt fx">
                      <span class="h aed"></span> Təklif göndər</button></button>
                  </div>
                </div>
              </li>
            </ul>
            </div>
            <div class="qz">
              Bu komandalar və ya üzvləri sizin tanışlarınız ola bilər.
            </div>
          </div>
    
    
            <div class="qv rc" footer-area></div>
        </div>
      </div>
    </div>