<!--<style type="text/css">-->
<!--	input.error{border-color: #a94442;}-->
<!--    .help-block{color:#a94442;}-->
<!--</style>-->
<!--            <div class="">-->
<!--                <div class="col-xs-12 col-sm-12 sidebar-offcanvas">-->

<!--                    <div class="alert alert-danger" ng-if="!authentication.isAuth" role="alert">-->
<!--                        <span class="glyphicon glyphicon-exclamation-sign"></span> -->
<!--                        Gələn təkliflərə baxmaq üçün ilk öncə qeydiyyatdan keçmək və ya həvəskar kimi sayta daxil olmanız gərəkdir.-->
<!--                    </div>                    -->

<!--                    <div class="panel panel-default panel-table col-sm-4 padding0" ng-if="authentication.isAuth">                       -->
<!--                        <div class="panel-heading">-->
<!--                            <h3 class="panel-title">Həvəskarlardan gələn təkliflər</h3>-->
<!--                        </div>-->
<!--                        <div class="panel-body"> -->
<!--                            <div class="alert alert-warning" ng-if="!users" role="alert">-->
<!--                                <span class="glyphicon glyphicon-exclamation-sign"></span> -->
<!--                                Təəssüf ki,heç bir həvəskar sizə yeni təklif göndərməyib. -->
<!--                            </div>-->
<!--                            <div class="media" ng-repeat="user in users" style="border-bottom:1px solid #ddd;padding-bottom:5px;">-->
<!--                              <div class="media-left pull-left">-->
<!--                                  <img ui-sref="profile({username:user.senderId.username})" style="width:64px;" class="media-object img-rounded pointer" ng-src="{{user.senderId.img}}">-->
<!--                              </div>-->
<!--                              <div class="media-body pull-left">-->
<!--                                <a ui-sref="profile({username:user.senderId.username})">-->
<!--                                    <h4 class="media-heading">{{user.senderId.username}}</h4> -->
<!--                                </a> -->
<!--                                    Sizi tanışlara əlavə etmək üçün təklif göndərdi.<br>-->
<!--                                    Göndərilmə tarixi: <i>{{user.offer.date | date:"dd MMM yyyy, HH:mm"}}</i>-->
<!--                              </div>-->
<!--                              <div class="media-left pull-right">-->
<!--                                    <button ng-click="acceptUserRequest(user._id)" class="btn btn-success btn-block">Qəbul et</button>-->
<!--                                    <button ng-click="rejectUserRequest(user._id)" class="btn btn-danger btn-block">Rədd et</button>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="panel panel-default panel-table col-sm-4 padding0" ng-if="authentication.isAuth">                       -->
<!--                        <div class="panel-heading">-->
<!--                            <h3 class="panel-title">Oyunlardan gələn təkliflər</h3>-->
<!--                        </div>-->
<!--                        <div class="panel-body"> -->
<!--                            <div class="alert alert-warning" ng-if="!games" role="alert">-->
<!--                                <span class="glyphicon glyphicon-exclamation-sign"></span> -->
<!--                                Təəssüf ki,siz heç bir oyuna yeni dəvət almamısız. -->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12" ng-repeat="team in games">-->
<!--                                    <div class="thumbnail">-->
<!--                                        <img ng-src="{{team.teamId.img}}">-->
<!--                                        <div class="caption">-->
<!--                                            <span style="font-size:larger;">{{team.teamId.name}}</span> <span class="fl_right text-muted">{{team.teamId.statistics.points}} xal</span>-->
<!--                                            <p style="margin-top:5px;margin-bottom:0px;"><a href="#" class="btn btn-info btn-block" role="button" ui-sref="teamInfo({name:team.teamId.name})">Ətraflı</a></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="panel panel-default panel-table col-sm-4 padding0" ng-if="authentication.isAuth">                       -->
<!--                        <div class="panel-heading">-->
<!--                            <h3 class="panel-title">Komandalardan gələn təkliflər</h3>-->
<!--                        </div>-->
<!--                        <div class="panel-body"> -->
<!--                            <div class="alert alert-warning" ng-if="!teams" role="alert">-->
<!--                                <span class="glyphicon glyphicon-exclamation-sign"></span> -->
<!--                                Təəssüf ki,heç bir komanda sizə yeni təklif göndərməyib. -->
<!--                            </div>-->
<!--                            <div class="media" ng-repeat="team in teams" style="border-bottom:1px solid #ddd;padding-bottom:5px;">-->
<!--                              <div class="media-left pull-left">-->
<!--                                  <img ui-sref="profile({username:team.offer.by.username})" style="width:64px;" class="media-object img-rounded pointer" ng-src="{{team.offer.by.img}}">-->
<!--                              </div>-->
<!--                              <div class="media-body pull-left">-->
<!--                                <a ui-sref="profile({username:team.offer.by.username})">-->
<!--                                    <h4 class="media-heading">{{team.offer.by.username}}</h4> -->
<!--                                </a> -->
<!--                                    Sizi özünün <a ui-sref="teamInfo({name:team.teamId.name})">{{team.teamId.name}}</a> adlı komandasının heyətinə qatılmağa dəvət edir.<br>-->
<!--                                    Göndərilmə tarixi: <i>{{team.offer.date | date:"dd MMM yyyy, HH:mm"}}</i>-->
<!--                              </div>-->
<!--                              <div class="media-left pull-right">-->
<!--                                    <button ng-click="acceptTeamRequest(team._id)" class="btn btn-success btn-block">Qəbul et</button>-->
<!--                                    <button ng-click="rejectTeamRequest(team._id)" class="btn btn-danger btn-block">Rədd et</button>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div><!--/row-- -->

<!--            </div><!--/row-- -->


<div class="by amt">
  <div class="gc">
    <div class="gn">

      <div class="ca alu">
        <a ui-sref="myrequests({page: 'heveskar'})" class="b" ng-class="{'active': page == 'heveskar'}">
          <span class="h uy eg"></span>
          Həvəskar təklifləri
        </a>
        <a ui-sref="myrequests({page: 'oyun'})" class="b" ng-class="{'active': page == 'oyun'}">
          <span class="h uy eg"></span>
          Oyun təkliflər
        </a>
        <a ui-sref="myrequests({page: 'komanda'})" class="b" ng-class="{'active': page == 'komanda'}">
          <span class="h uy eg"></span>
          Komanda təkliflər
        </a>
      </div>
      <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">Yaxın komandalar <small>· <a href="#">Hamısı</a></small></h5>
        </div>
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx" ng-if="page == 'heveskar'">
        <li class="b aml">
          <h3 class="alc">Həvəskar təklifləri</h3>
        </li>

        <ul class="qo cj ca" ng-if="items">
          <li class="b" ng-repeat="item in items">
            <div class="qf">
              <a class="qj">
                <img class="qh cu avatar" ui-sref="profile({username: item.senderId.username})" ng-src="{{item.senderId.img}}">
              </a>
              <div class="qg">
                    <button ng-click="rejectUserRequest(item.senderId._id)" class="cg tr fx eg mgL10">
                      <span class="h ago"></span> İmtina et
                    </button>
                    <button ng-click="acceptUserRequest(item.senderId._id)" class="cg tt fx eg">
                        <span class="h vc"></span> Qəbul et
                    </button>
                    <a ui-sref="profile({username:item.senderId.username})">
                    <strong>{{item.senderId.username}}</strong></a> 
                    sizi tanışlara əlavə etmək üçün təklif göndərdi
              </div>
            </div>
          </li>
        </ul>
      </ul>
      <ul class="ca qo anx" ng-if="page == 'oyun'">
        <li class="b aml">
          <h3 class="alc">Oyun təklifləri</h3>
        </li>

        <li class="b qf aml">
            
        </li>
        
      </ul>
      <ul class="ca qo anx" ng-if="page == 'komanda'">
        <li class="b aml">
          <h3 class="alc">Komanda təklifləri</h3>
        </li>

        <!--<li class="b qf aml">-->
            <ul class="qo cj ca" ng-if="items">
              <li class="b" ng-repeat="item in items">
                <div class="qf">
                  <a class="qj">
                    <img class="qh cu avatar" ui-sref="profile({username:item.offer.by.username})" ng-src="{{item.offer.by.img}}">
                  </a>
                  <div class="qg">
                        <button ng-click="rejectTeamRequest(item._id)" class="cg tr fx eg mgL10">
                          <span class="h ago"></span> İmtina et
                        </button>
                        <button ng-click="acceptTeamRequest(item._id)" class="cg tt fx eg">
                            <span class="h vc"></span> Üzv ol
                        </button>
                        <a ui-sref="profile({username:item.offer.by.username})">
                        <strong>{{item.offer.by.username}}</strong></a> 
                        Sizi <a ui-sref="teamInfo({name:item.teamId.name})">{{item.teamId.name}}</a> 
                        adlı komandasına üzv olmağa dəvət edir.
                  </div>
                </div>
              </li>
            </ul>
        <!--</li>-->
        
      </ul>
    </div>
    <div class="gn">
        <div new-game></div>
        <div class="qv rc alu ss">
            <div class="qw">
              <h5 class="ald">Tanıdın? <small>· <a href="#">Hamısı</a></small></h5>
            </div>
            <div class="qz">
              Dave really likes these nerds, no one knows why though.
            </div>
        </div>


        <div class="qv rc aok" footer-area></div>
    </div>
  </div>
</div>