.red{color: red;}
.green{color: #00897B !important;}
.show{display: block;}
.hide{display: none;}
.alignR{text-align: right !important}
.alignC{text-align: center !important}
.font13{font-size: 13px;}
.relative{position: relative}
.fl_left{float: left;}
.fl_right{float: right;}
.padR0{padding-right: 0px !important}
.padL0{padding-left: 0px !important}
.margR0{margin-right: 0px !important}
.margL0{margin-left: 0px !important}

a{
    color: #00897B;
}

.card-signup .header-primary,
.card-game .header-primary,
.card .header-primary {
    background: linear-gradient(60deg, #26A69A, #00897B);
}
.navbar.navbar-primary{
    background: linear-gradient(60deg, #26A69A, #00897B);
}
.btn.btn-primary.btn-simple{
    color: #00897B !Important;
    background-color: transparent !important;
}
.btn.btn-primary:not(.btn-simple){
    background-color: #00897B !important;
    color: #FFFFFF !important;
    box-shadow: 0 2px 2px 0 rgba(0,137,123,  0.14), 0 3px 1px -2px rgba(0,137,123,  0.2), 0 1px 5px 0 rgba(0,137,123,  0.12);
}
.btn.btn-primary:not(.btn-simple):hover{
    box-shadow: 0 14px 26px -12px rgba(0,137,123,0.42), 0 4px 23px 0px rgba(0,137,123, 0.12), 0 8px 10px -5px rgba(0,137,123, 0.2)
}
.form-group.is-focused .form-control{
    background-image: linear-gradient(#26A69A, #00897B), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused label,
.form-group.is-focused label.control-label{
    color: #00897B;
}
.included-wrapper{
    min-height: 100vh;
}
.signup-page .header.header-filter{
    min-height: 100vh;
}
.profile-page .header {
    height: 180px;
}

.online-list .custom-list{height: 600px;}

.custom-list{padding:0;margin: 0;list-style-type: none;}
.custom-list > li{padding-left: 15px;cursor: pointer;position: relative;
    border-bottom: 1px solid #d3d3d3;
}
.custom-list > li:hover{
    background: #d3d3d3;
}
.custom-list a{
    padding: 5px 5px;margin: 0px;width: 100%;text-align: left;text-transform: lowercase;font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.placeholder-image{display: inline-block;border-radius: 50%;width: 40px;height: 40px;color: white;line-height: 38px;text-align: center;font-size: 20px;
    border:1px solid #d3d3d3;position: relative;text-transform: uppercase;
}
.placeholder-image.t{background: #607D8B;}
.placeholder-image.a{background: #C0CA33;}
.placeholder-image.b{background: #E91E63;}
.placeholder-image.static{background: #424242;}

.online-indicator{width: 10px;height: 10px;background: #8BC34A;position: absolute;right: 0px;bottom: 0px;
    border-radius: 50%;border:1px solid #d3d3d3;
}

/*.online-list{overflow-y: auto;border-right: 1px solid #d3d3d3;}*/

h4.block-header{padding-left: 15px;}

.main-raised{
    overflow: hidden;
}

.create-game{
    position: fixed !important;
    z-index: 3;
    bottom: 50px;
    right: 50px;
}

.dashboard-nav{
    border-radius: 0;
    border-top-right-radius: 6px;
    padding: 0px;
    margin-bottom: 0px;
    z-index: 1;
    margin-top: 0;
}
.dashboard-nav .header{
    height: 73px;
    margin: 0px 0px;
    z-index: 1;
    position: relative;
}
.dashboard-nav .header .nav-tabs{
    display: inline-block;
}
.dashboard-nav > .content{
    padding: 0px 15px;
}
.datepicker{z-index: 9999 !important;}
.datepicker td.active p, .datepicker td.active:hover p {
    background-color: #00897B;
}


#createGameModal .dropdown-toggle{
    width: 100%;
    margin-top: 23px;
}
#createGameModal .dropdown-menu{
    width: 100%;
    text-align: center;
    max-height: 321px;
    overflow-y: auto;
}
#createGameModal .dropdown-menu li a:hover{
    background: #00897B;
    cursor: pointer;
}

.games-list{
    overflow: auto;
    height: 596px;
    border-right: 1px solid #d3d3d3;
    /*padding: 0px;*/
    padding-top: 20px;
}
.card-game{
    position: relative;
    margin: 30px 0px;
    /*width: auto;*/
    /*overflow: hidden;*/
}
.card-game:first-child{
    margin-top: 40px;   
}
/*.card-game{cursor: pointer;border: 1px solid #d3d3d3;border-radius: 6px;}*/
.card-game:hover{
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 6px 3px -5px rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.12);
}
.card-game:hover .game-head .green{
    /*color: white !important;*/
}
.card-game:hover .game-body{
    /*background: rgba(238, 238, 238, 0.59);*/
}
.card-game ul{
    list-style-type: none;
}
.card-game ul li{
    margin:0;
    padding:0;
}
/*.card-game .game-head{*/
/*    border-top-left-radius: 6px;*/
/*    border-top-right-radius: 6px;*/
/*}*/
/*.card-game .game-body{*/
/*    border-bottom-left-radius: 6px;*/
/*    border-bottom-right-radius: 6px;*/
/*}*/
.card-game .game-head{
    height: 60px;
    text-align: left;
    padding: 5px 20px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -30px;
    /*background: rgba(238, 238, 238, 0.59);*/
}
.card-game .game-head a.image-a{
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    padding: 0px;
    margin: 5px 1px;
}
.card-game .game-body{
    padding: 25px 0px 10px;
}
.game-body i.material-icons,
.custom-list i.material-icons{
    color: #777;
    font-size: 18px;
}
.card-game .game-footer{
    padding: 10px 10px 10px 0px;
    border-top: 1px solid #d3d3d3;
    /*background: rgba(238, 238, 238, 0.59);*/
}
.card-game .game-footer ul.inRoom{
    padding: 0px;
    margin:0px;
    display: inline-block;
}
.card-game .game-footer ul.inRoom li{
    /*position: absolute;*/
    display: inline-block;
    float: left;
    margin-left: -8px;
}
.card-game .game-footer ul.inRoom li:first-child{
    margin-left: 0px;
}
.card-game .game-footer ul.inRoom li a{
    padding: 0px;
    margin: 0px;
}
.card-game .game-footer ul.inRoom li a .placeholder-image{
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 13px;
}
.card-game .game-footer .countInRoom{
    line-height: 25px;
    margin-left: 5px;
}

.future-list h4.block-header{
    float: right;
    padding-right: 15px;
}
.future-list .custom-list .placeholder-image{
    float: right;
}
.future-list .custom-list > li{
    padding: 10px;
}
.future-list .custom-list > li .game-data{
    margin: 0px;
    padding: 0px;
    width: calc(100% - 50px);
}
.future-list .custom-list > li .game-data > li{
    white-space: normal;
    color: #333;
    padding: 3px 0px; 
    text-transform: none;
}

.messages-list{
    margin-top: -10px;
    max-height: 290px !important;
}
.messages-list blockquote p{
    margin: 0 0 0px;
    font-size: 15px;
    line-height: 24px;
}
.messages-list blockquote a{
    padding: 0px;
    margin: 0px;
}
.messages-list blockquote b{
    float: right;
    font-size: 15px;
    margin-left:5px;
}
.messages-list blockquote{
    display: inline-block;
    float: right;
    border-right: 5px solid #eee;
    border-left: none;
    text-align: right;
    clear: both;
    padding: 10px 20px;
    margin: 0 0 10px;
    background: linear-gradient(60deg, rgba(238, 238, 238, 0), #eeeeee);
}
.messages-list blockquote a{
    float: right;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0px;
}
.messages-list blockquote .placeholder-image{
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 13px;
}
.messages-list .team-member{
    float: left;
    text-align: left;
    border-left: 5px solid #00897b;
    border-right: none;
    background: linear-gradient(60deg, rgb(238, 238, 238), rgba(238, 238, 238, 0));
}
.messages-list .team-member a{
    float: left;
    margin-right: 5px;
}
.messages-list .team-member .placeholder-image{
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 13px;
}
.messages-list .team-member b{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
.send-message-area{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
}
.send-message-area button.btn-primary{
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.actions-list ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
.actions-list ul li{
    padding: 10px 15px;
    border-bottom: 1px solid #d3d3d3;
}
.actions-list ul li a{
    margin: 0px;
    padding:0px;
}
.actions-list ul li a .placeholder-image{
    width: 25px;
    height: 25px;
    line-height: 24px;
    font-size: 16px;
}