<div class="header header-filter" style="background-image: url('./assets/img/h-bg.jpg');background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
			<div class="col-md-6">
				<h1 class="title">Xoş gəlmisən, həvəskar!</h1>
	                    <h4>Bu şəbəkə sizin rəqib futbol komandaları tapmağınız və maraqlı oyunlar təşkil etməyiniz üçün hazırlanıb istifadənizə verilmişdir. Elə isə </h4>
                <br />
                <a ui-sref="login" class="btn btn-primary btn-raised btn-lg">
					<i class="fa fa-play"></i> &nbsp;Daxil Ol
				</a>
			</div>
        </div>
    </div>
</div>
<footer class="footer">
	<div class="container">
	<!--        <nav class="pull-left">-->
			<!--<ul>-->
			<!--	<li>-->
					<!--<a href="#">-->
					<!--	Heveskar.Az-->
					<!--</a>-->
			<!--	</li>-->
			<!--	<li>-->
			<!--		<a href="#">-->
			<!--		   Haqqımızda-->
			<!--		</a>-->
			<!--	</li>-->
			<!--	<li>-->
			<!--		<a href="#">-->
			<!--		   Əlaqə-->
			<!--		</a>-->
			<!--	</li>-->
				<!--<li>-->
				<!--	<a href="http://www.creative-tim.com/license">-->
				<!--		Licenses-->
				<!--	</a>-->
				<!--</li>-->
			<!--</ul>-->
	<!--        </nav>-->
	    <div class="copyright pull-right">
	        &copy; 2016, made with <i class="fa fa-heart heart red"></i> by <a href="#" target="_blank">Heveskar Team</a>
	    </div>
	</div>
</footer>