<div class="col-md-9 relative scroll-bar-wrap" style="height: 596px;">
	<div class="card card-game" style="margin-top: 60px;margin-bottom: 0px;">
		<div class="header header-primary game-head">
			<a href="#" title="{{game.userId.teamName}}" class="btn btn-simple relative image-a">
				<span class="placeholder-image {{game.userId.teamName.toLowerCase()[0]}}">
					{{game.userId.teamName.toUpperCase()[0]}}
					<span class="online-indicator"></span>
				</span> 
			</a>
			<b class="">{{game.userId.teamName}}</b> komandası yeni oyun təşkil etdi.
		</div>
		<div class="clearfix"></div>
		<div class="game-body">
			<div class="col-md-6">
				<ul>
					<li><i class="material-icons">date_range</i> <font ng-bind="game.date | date:'dd MMM hh:mm'"></font>  | {{hours[game.fromHours]}} - {{hours[game.toHours]}}</li>
					<li><i class="material-icons">payment</i> {{payment[game.plan.type]}} <i ng-if="game.plan.type == 2">({{game.plan.winner}} AZN /  {{game.plan.loser}} AZN)</i></li>
					<li><i class="material-icons">group</i> {{memberCount[game.countPlayers]}}</li>
				</ul>
			</div>
			<div class="col-md-6">
				<i class="material-icons">place</i> {{game.stadium}} <br>
				<i class="material-icons">record_voice_over</i> 
				<i>"{{game.text ? game.text : '...'}}" 
				<a class="green">more</a><!-- komandalarla oynamağa hazırıq.
				Hətta yer pulundan olsa belə. Əlaqə üçün nömrə 055-631-09-43.--></i>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="game-footer">
			<div class="col-md-6">
				<ul class="inRoom fl_left">
					<li ng-repeat="cUsers in game.connectedUsers | limitTo: 8">
						<a href="#" title="{{cUsers.teamName}}" class="btn btn-simple relative image-a">
							<span class="placeholder-image {{cUsers.teamName.toLowerCase()[0]}}">{{cUsers.teamName.toUpperCase()[0]}}</span> 
						</a>
					</li>
				</ul>
				<span class="fl_left countInRoom" ng-if="game.connectedUsers.length > 8">+ <span>{{game.connectedUsers.length - 8}}</span> nəfər</span>
			</div>
			<div class="col-md-6">
				
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="messages-list scroll-box">
		<blockquote>
	         <p>
	         	stadion???
	         	<b>
	         		<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image a">
							T
						</span> 
					</a>
					six_boys
				</b>
	         </p>
        </blockquote>
        <blockquote class="team-member">
	         <p>
	         	<b> 
	         		<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image t">
							T
						</span> 
					</a>
	         		tetbiq_2015
	         	</b>
	         danishib yazacam, gozle
	         </p>
        </blockquote>
        <blockquote>
	         <p>
	         	<b>
	         		<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image b">
							T
						</span> 
					</a>
	         		six_boys
	         	</b>
	         yaxshi gozduyurem
	         </p>
        </blockquote>
        <blockquote>
	         <p>
	         	<b>
	         		<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image a">
							T
						</span> 
					</a>
	         		bakililar
	         	</b>
	          	men danishim stadion gelin oynuyag
	         </p>
        </blockquote>
        <blockquote>
	         <p>
	         	<b>
	         		<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image t">
							T
						</span> 
					</a>
	         		fc_one
	         	</b>
	        	qaqash men de oynamag istiyirem , belke komanda qurag
	         </p>
        </blockquote>
        <blockquote>
	         <p>
				<b>
					<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">
						<span class="placeholder-image b">
							T
						</span> 
					</a>
					21_aze
				</b>
	         	yer pulunnan oynuyurug ancaq 
	         </p>
        </blockquote>
        <div class="scroll-cover-bar"></div>
	</div> 
	<div class="clearfix"></div>
	<div class="send-message-area">
	    <div class="col-md-12">
        	<!--<div class="form-group">-->
         <!--   	<input type="text" placeholder="Burda yazın..." class="form-control" />-->
        	<!--</div>-->
        	<div class="input-group">
              <input type="text" class="form-control" placeholder="Burda yazın...">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
                	<i class="material-icons">send</i>
                </button>
              </span>
            </div><!-- /input-group -->
        </div>
	</div>
</div>
<div class="col-md-3 actions-list padL0 padR0">
	<ul>
	    <li ng-repeat="a in activities">
	    	<a href="#" title="{{a.userData.teamName}}" class="btn btn-simple">
				<span class="placeholder-image {{a.userData.teamName.toLowerCase()[0]}}">
					{{a.userData.teamName.toUpperCase()[0]}}
				</span> 
			</a>
			<b class="green">{{a.userData.teamName}}</b> {{typeActivity[a.type]}}
		</li>
	</ul>
</div>