/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

@import url('loader.css');
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,600italic,600,400italic,300italic,300,700);*/

/* docs overrides */
a{cursor: pointer;}
.a {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.b .c {
  line-height: 1.4;
}
.d .close {
  margin-top: 4px;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .e img {
  width: 85px;
}
.app-navbar .f {
  max-height: inherit;
}
.app-navbar .f:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #44a762;
}
.g {
  margin-left: -12px;
  padding-bottom: 10px !important;
}
.g .h:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .f:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .i {
    margin-top: -1px;
  }
}


/* misc */
.j {
  max-width: 280px;
  margin-top: -60px;
}
.k {
  margin-right: 10px;
}
.l {
  width: 40%;
  display: inline-block;
}
.l img {
  width: 100%;
}

/* Custom Css **/

.pc{    
  background-color: #009688;
  border-color: #009688;
}
.pc .navbar-nav > li > a{ color: white; }
.pc .e{ color: white; }

.pc .navbar-nav.ss > li > a:hover, .pc .navbar-nav.ss > li > a:focus {
  color: #ffffff;
  background-color: #00897B;
}

.ss .popover-content{padding:9px 0px;}
.ss .popover-content a{padding: 10px 25px;}

.profile .aoi{color: white;}
.profile .aoi .aoj{width: 49%}

.table-heveskar{font-size: 12px;text-transform: lowercase;}
.table-heveskar td{vertical-align: middle !important}
.table-heveskar td a.team-name{line-height: 30px;}
.table-heveskar img{width: 30px;height: 30px;margin-right: 4px;}

.aoh{width: 100px;height: 100px;background: white;}
.aoh.insideGame{width: 60px;height: 60px;}
.aoh.captain{border: 3px solid #FFC107;}

.table.insideGame th{text-align: center;}

.commentsArea{font-size: 13px;}
.commentsArea .dp a{color: #3097d1 !important;}
.replyInput{height: 30px;font-size: 12px;}
.commentsArea li{margin-top: 10px;margin-bottom: 10px !important;}

a.g .badge{
  font-size: 10px;
  background-color: #E91E63;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 25px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: none;
  outline: none;
  border: none;
}

.btn-primary,.fq{
    color: #ffffff;
    background-color: #009688;
    border-color: #009688;
}
.fq:hover,.btn-primary:hover,
.fq:focus,.btn-primary:focus,
.fq:active,.btn-primary:active
{
  outline: none !important;
  background-color: #00897B !important;
  border-color: #00897B !important;
}

/*NOTIFICATION*/
.notification-area {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
}

.image-upload-overlay{
  display: none !important;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid white;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.upload-wrapper:hover .image-upload-overlay{
  display: table !important;
}
.ans .qh {
  width: 80px;
  height: 80px;
}
@media (min-width: 768px){
  .image-upload-overlay {
      width: 110px;
      height: 110px !important;
  }
  .ans .qh {
    width: 110px;
    height: 110px;
  }
}

.whiteBtn {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
}
.whiteBtn {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
}
.whiteBtn:focus, .whiteBtn.fl, .whiteBtn:hover, .whiteBtn:active, .whiteBtn.active, .open > .fn.whiteBtn {
    color: #1e3948;
    background-color: #FFFFFF;
    box-shadow: none;
}
.form-control.user-edit{
    display: inline-block !important;
    width: initial !important;
}
a.cancel-a{color: #536570 !important;}

.popover{max-width: 400px !important;} 
.popover-content{max-width: 380px !important;padding: 0px !important;} 
.noneOutline:focus{outline:none;}
.aml {padding: 10px !important;border:none;border-bottom: 1px solid #d3e0e9;border-radius: 0 !important;}
.anx .qf.b {margin-top: 1px !important;}
.anx .qf.b:first-child{margin-top: 0px !important;}


.notificationsLi .popover.bottom-right .arrow{right: 14px !important;}
.popover.bottom-right .arrow{left: auto;}
.pc .fu,.pc .fu:hover,.pc .fu:focus{color: #009688;}
.notif-popover .ca{margin-bottom: 0px;}
.notif-popover .uq{max-height: 300px;}
.notif-popover .show-all{margin: 0 auto;display: block;}

/*.notif-popover li{background: ghostwhite;color: #1e3948;}*/
.notif-popover li:hover{text-decoration: none;background-color: #f5f8fa;}
.notif-popover li a{color: #1e3948;}
.notif-popover li a:hover{text-decoration: none;color: #1e3948;}

.modal-dialog{overflow-x: hidden;}
.modal-title {display: inline-block;}

.modal-content{overflow: hidden;}
.modal-content .close{z-index: 1;position: relative;}
.modal-content .messagesModal .uq{max-height: 433px;position: absolute;}
.modal-content .messagesModal .uq.messages{border-top: 1px solid #e5e5e5;top: 67px;width: 100%;}
.modal-content .messagesModal .uq.conversations{max-height: 500px;}

.modal-dialog .d{
  padding: 15px;
  border-bottom: 1px solid #D4DBE0;
  min-height: 16.6px;
  color: white;
  background: #009688;
}
.modal-content{border: 0px;}
.modal-dialog .ur button{outline: none;color: #536570;}


.app-navbar input.form-control{
    float: right;
    width: 80% !important;
    transition: all 1s;
}
.app-navbar input.form-control:focus{
    width: 100% !important;
}
.search-result{
  position:absolute;
}

.pac-container {
    z-index: 100000;
}

#map{    
  height: 100%;
  width: 100%;
  position: absolute !important;
}

.gmap_icon_container img {
  border-radius: 50%;
}

div[maybe-acquaintance] strong{
  clear: both;display: block; 
}
div[maybe-acquaintance] p{
  display: -webkit-box;-webkit-line-clamp: 1;overflow: hidden;
  font-size: 13px;-webkit-box-orient: vertical;text-overflow: ellipsis;margin-bottom: 4px;
}

/*.gmnoprint{*/
/*  opacity: 1 !important;*/
/*}*/
/*.gmnoprint img{*/
/*  border: 2px solid #009688 !important;*/
/*}*/