/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2014, 11:41:04 PM
    Author     : Ceyhun
*/
.push60{margin-bottom: 60px;}
.push30{margin-bottom: 30px;}
.push20{margin-bottom: 20px;}
.push10{margin-bottom: 10px !important;}
.push5{margin-bottom: 5px !important;}
.push0{margin-bottom: 0px !important;}

.table{display:table !Important;}
.clear{clear:both !Important;}
.fl_left{float:left !Important;}
.fl_right{float:right !Important;}
.padding0{padding:0px !important;}
.margin0{margin:0px !important;}
.width100{width:100%;}
.normal{font-weight: normal !important;}
.txtcenter{text-align: center !important;}
.txtleft{text-align: left !important;}
.txtright{text-align: right !important;}
.center{margin: 0px auto !important;}
.white{color:white !important;}
.red{color:#ef473a !important;}
.noborder{border:none !important;}
.pointer{cursor: pointer;}

.relative{position:relative;}
.z1{z-index: 1;}

.circle{width: 42px;height: 42px;border-radius: 50%;}

.mgL10{margin-left: 10px;}
.avatar{width: 35px !important;height: 35px !important;}