<!DOCTYPE html>
<html lang="az" ng-app="heveskar">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="./assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Heveskar.Az - Giriş səhifəsi</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/material-kit.css" rel="stylesheet"/>
    <link href="./assets/css/custom.css" rel="stylesheet"/>
    <link href="./assets/css/scrollbar.css" rel="stylesheet"/>
    

</head>

<body class="{{bodyClass}}" ng-controller="AppController">
	<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="http://heveskar-heveskar.c9users.io:8080">Heveskar.Az</a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right" ng-class="isStateLoading ? 'hide' : 'show'">
					<!--<li>-->
    	<!--				<a href="../components-documentation.html" target="_blank">-->
    	<!--					Haqqımızda-->
    	<!--				</a>-->
    	<!--			</li>-->
    		<!--		<li>-->
						<!--<a href="#" target="_blank">-->
						<!--	<i class="material-icons">unarchive</i> Upgrade to PRO-->
						<!--</a>-->
    		<!--		</li>-->
		            <li ng-if="bodyClass != 'profile-page'">
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li ng-if="bodyClass != 'profile-page'">
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li ng-if="bodyClass != 'profile-page'">
		                <a href="#" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
		            <li ng-if="bodyClass == 'profile-page'">
		                <a ng-click="logout()" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="material-icons">exit_to_app</i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>

    <div class="wrapper">
		<!--<div class="header header-filter" style="background-image: url('./assets/img/h-bg.jpg'); background-size: cover; background-position: top center;">-->
	
		<!-- INCLUDE AREA -->
		
		<div class="included-wrapper" ui-view ng-hide="isStateLoading"></div>
		
		<!-- END INCLUDE AREA -->

    </div>

</body>
	<!--   Core JS Files   -->
	<script src="./assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="./assets/js/arrive.min.js" type="text/javascript"></script>
	<script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="./assets/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="./assets/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="./assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="./assets/js/material-kit.js" type="text/javascript"></script>
	
	
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- ANGULAR --> 
        <script src="./assets/js/angular.min.js"></script>
        <script src="./assets/js/angular-ui-router.js"></script>
        <script src="app.js"></script>
        <script src="./assets/js/constant.js"></script>
        <!-- ANGULAR CONTROLLERS--> 
        <script src="controllers/app.js"></script>
        <script src="controllers/index.js"></script>
        <script src="controllers/login.js"></script>
        <script src="controllers/dashboard.js"></script>
        <script src="controllers/dashboard/index.js"></script>
        <script src="controllers/game.js"></script>
        <!--<script src="controllers/requests.js"></script>-->
        <!--<script src="controllers/stadiums.js"></script>-->
        <!--<script src="controllers/teams.js"></script>-->
        <!--<script src="controllers/users.js"></script>-->
        <!--<script src="controllers/games.js"></script>-->
        
        <!-- ANGULAR DIRECTIVES--> 
        
        <!--<script src="directives/google/place-autocomplete.js"></script>-->
        <!--<script src="directives/menu.js"></script>-->
        <!--<script src="directives/notificationArea.js"></script>-->
        <!--<script src="directives/search.js"></script>-->
        <!--<script src="directives/newGame.js"></script>-->
        <!--<script src="directives/messages.js"></script>-->
        <!--<script src="directives/loginPanel.js"></script>-->
        <!--<script src="directives/loginAlert.js"></script>-->
        <!--<script src="directives/fileUpload.js"></script>-->
        <!--<script src="directives/footer.js"></script>-->
        <!--<script src="directives/maybe-acquaintance.js"></script>-->
        
        <!-- ANGULAR SERVCES--> 
        <script src="./assets/js/angular-local-storage.min.js"></script>
        <script src="services/authService.js"></script>
        <script src="services/authInterceptor.js"></script>
        <!--<script src="services/acquaintances.js"></script>-->
        <script src="services/socket.js"></script>
        <!--<script src="services/gmap.js"></script>-->

        <!-- ANGULAR BOOTSTRAP UI -->
        <script src="./assets/js/transition.js"></script>
        <script src="./assets/js/popover.js" type="text/javascript"></script>
        <script src="./assets/js/tooltip.js" type="text/javascript"></script>
        <script src="./assets/js/collapse.js"></script>
        <script src="./assets/js/default.js" type="text/javascript"></script>
        <script src="./assets/js/ui-bootstrap-tpls-1.2.1.min.js"></script>

</html>
