<div class="d">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Tanışlar</h4>
</div>
<div class="modal-body uq">
  <ul class="qo cj ca">
    <li class="b">
      <div class="qf">
        <a class="qj" href="#">
          <img class="qh cu" src="../assets/img/avatar-fat.jpg" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-fat.jpg">
        </a>
        <div class="qg">
          <button class="cg ts fx eg">
            <span class="h vc"></span> Follow
          </button>
          <strong>Jacob Thornton</strong>
          <small>@fat - San Francisco</small>
        </div>
      </div>
    </li>
    <li class="b">
      <div class="qf">
        <a class="qj" href="#">
          <img class="qh cu" src="../assets/img/avatar-dhg.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
        </a>
        <div class="qg">
          <button class="cg ts fx eg">
            <span class="h vc"></span> Follow
          </button>
          <strong>Dave Gamache</strong>
          <small>@dhg - Palo Alto</small>
        </div>
      </div>
    </li>
    <li class="b">
      <div class="qf">
        <a class="qj" href="#">
          <img class="qh cu" src="../assets/img/avatar-mdo.png" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-mdo.png">
        </a>
        <div class="qg">
          <button class="cg ts fx eg">
            <span class="h vc"></span> Follow
          </button>
          <strong>Mark Otto</strong>
          <small>@mdo - San Francisco</small>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="ur">
    <button type="button" class="fu us width100">Close</button>
</div>