<form>
<div class="modal-header">
    <h3 class="modal-title">Meydançaya Qeydiyyat</h3>
</div>
<div class="modal-body">
    	<div class="form-group">
  			<label for="disabledDate" disabled>Gün</label>
  			<input type="text" id="disabledDate" class="form-control btn-block" placeholder="{{item.date}}" disabled>
		</div>
		<div class="form-group">
			<label for="disabledDate" disabled>Saat</label>
			<input type="text" id="disabledDate" class="form-control btn-block" placeholder="{{item.saat}}" disabled>
		</div>
		<div class="form-group">
	      	<label for="disabledStadium" disabled>Meydança</label>
	      	<select id="disabledStadium" class="form-control btn-block" disabled>
	      		<option value="{{item.stadium}}">{{item.stadiumName}}</option>
	      	</select>
	    </div>
	  	<div class="form-group">
		    <label for="clientInfo">Müştəri haqqında</label>
		    <input style="margin-bottom:3px;" type="text" class="form-control btn-block" placeholder="ID"
		    ng-value="item.client_id.ID" ng-model="item.client_id.ID" disabled>
		    <input style="margin-bottom:3px;" type="text" class="form-control btn-block" placeholder="Ad,Soyad" 
		    ng-value="item.client_id.name" ng-model="item.client_id.name">
		    <input style="margin-bottom:3px;" type="text" class="form-control btn-block" placeholder="Mobil"
		    ng-value="item.client_id.phone" ng-model="item.client_id.phone">
		    <input style="margin-bottom:3px;" type="text" class="form-control btn-block" placeholder="E-mail"
		    ng-value="item.client_id.email" ng-model="item.client_id.email">
	  	</div>
	  	<div class="form-group">
	      	<label for="disabledStadium" disabled>Ödəniş</label>
		  	<div class="input-group">
				<input type="text" class="form-control btn-block" placeholder="Ödəniləcək məbləği daxil edin"
			 	aria-describedby="sizing-addon2" name="price" ng-model="item.price" disabled>
			 	<span class="input-group-addon" id="sizing-addon2">AZN</span>
			</div>
		</div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Yazıl</button>
    <!-- <button class="btn btn-danger" ng-click="delete()">Sil</button> -->
    <button class="btn btn-default" ng-click="cancel()">Bağla</button>
</div>
</form>
