<div class="qw">
  © 2015 Həvəskar.az

  <a href="#">Haqqımızda</a>
  <a href="#">Kömək</a>
  <a href="#">Şərtlərimiz</a>
  <a href="#">Gizlilik</a>
  <a href="#">Reklam</a>
  <a href="#">Proqram</a>
  <a href="#">Vakansiya</a>
  <a href="#">Əlaqə</a>
</div>