<style>
    #newGameForm{width:95%;}
    @media (min-width: 768px){
        .modal-dialog {
          width: 379px;
          margin: 30px auto;
        }
    }
    .table th{vertical-align: middle !important;}
    #newGameForm form .table td:last-child{vertical-align:middle;}
    .tab
    input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
    .usersList li{padding:2px 2px !important;height:37px;line-height: 30px;}
    .usersList li:hover{background-color: #3071a9;color:white;cursor: default;}
    .usersList li span{margin-top: 7px;margin-right: 7px;cursor: pointer;}
    .usersList li span:hover,.usersList li span:focus{color:rgb(231, 231, 231)}
    .usersList img{width:30px;}
</style>
<h3 class="txtcenter">Yeni oyun</h3>
<!-- Default panel contents -->
<!-- <div class="alert alert-danger" role="alert">
    <?=$error;?>
</div>
<div class="alert alert-success" role="alert">
    <?=$res;?>
</div> -->

<div class="panel panel-default center" id="newGameForm">
    <!-- <div class="panel-heading">Yeni komanda yaratmaq üçün aşağıdakı bölmə(lər)i doldurmağınız vacibdir!</div>     -->
    <form class="ajaxForm" name="regForm" method="post">
        <table class="table" style="margin-bottom:0px;">
            <tbody>
                <tr>
                    <th>Komandanız var?<span class="red">*</span></th>
                    <td>
                        <div class="input-group push5">
                            <span class="input-group-addon">
                                <input id="var" ng-checked="nGMC.game.team==1" ng-model="nGMC.game.team" type="radio" ng-value="1">
                            </span>
                            <label for="var" class="form-control normal">Var</label>
                        </div><!-- /input-group -->
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input id="yoxdur" ng-checked="nGMC.game.team==2" ng-model="nGMC.game.team" type="radio" ng-value="2">
                            </span>
                            <label for="yoxdur" class="form-control normal">Yoxdur</label>
                        </div><!-- /input-group -->
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Əgər komandanız varsa və sadəcə oynamaq üçün rəqib axtarırsınızsa "Var" seçimini edin.
                            Əgər komandanız yoxdursa, bu zaman "Yoxdur" seçimi sizə həm özünüzə həm də rəqibə komanda yığılmasına imkan verir.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr ng-if="nGMC.game.team == 1">
                    <th>Komandanızın adı<span class="red">*</span>:</th>
                    <td width="60px">
                        <input ng-if="!nGMC.selectedTeam" type="text" ng-change="teamList()" class="form-control" ng-model="nGMC.game.teamName" placeholder="">
                        <div class="relative" style="width:100%;" ng-if="!nGMC.selectedTeam">
                            <ul class="list-group usersList btn-block" style="position:absolute;top:1px;" ng-if="nGMC.teams.length">
                                <li class="list-group-item" ng-repeat="team in teams">
                                        <img class="img-circle fl_left" ng-src="{{team.teamId.img}}">
                                        &nbsp;{{team.teamId.name}}
                                        <span ng-click="selectTeam(team.teamId)" class="glyphicon glyphicon-ok fl_right"></span>
                                        <span ui-sref="teamInfo({name:team.teamId.name})" class="glyphicon glyphicon-share-alt fl_right"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="relative" style="width:100%;" ng-if="nGMC.selectedTeam">
                            <ul class="list-group usersList btn-block" style="position:absolute;top:1px;" >
                                <li class="list-group-item">
                                        <img class="img-circle fl_left" ng-src="{{nGMC.selectedTeam.img}}">
                                        &nbsp;{{nGMC.selectedTeam.name}}
                                        <span ng-click="unselectTeam()" class="glyphicon glyphicon-remove fl_right"></span>
                                        <span ui-sref="teamInfo({name:nGMC.selectedTeam.name})" class="glyphicon glyphicon-share-alt fl_right"></span>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Komandanızın adını yazmaqla seçə bilərsiniz.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr ng-if="nGMC.game.team == 2">
                    <th>Komanda bölgüsü<span class="red">*</span>:</th>
                    <td width="60px">
                        <select class="form-control btn-block" ng-model="nGMC.game.division">
                            <option value="1">Seçmə</option>
                            <option value="2">Təsadüfi</option>
                        </select>
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='"Seçmə" bölgüsü seçdiyinizdə təklif göndərən istifadəçilər hansı komandada oynamaq 
                            istədiklərini seçə biləcəklər.
                            "Təsadüfi" bölgü seçdiyinizdə oyunun baş tutması üçün lazım olan sayda istifadəçi təklif
                            göndərdildikdən sonra proqram tərəfindən avtomatik 2 komanda təyin olunacaq.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr>
                    <th>Hər komanda<span class="red">*</span>:</th>
                    <td width="60px">
                        <select ng-model="nGMC.game.countMembers" class="form-control btn-block">
                            <option ng-checked="nGMC.game.countMembers == 5" value="5">5 nəfər</option>
                            <option ng-checked="nGMC.game.countMembers == 6" value="6">6 nəfər</option>
                            <option ng-checked="nGMC.game.countMembers == 7" value="7">7 nəfər</option>
                            <option ng-checked="nGMC.game.countMembers == 8" value="8">8 nəfər</option>
                        </select>
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Bu bölmədə hər komandanın neçə nəfərdən ibarət olacağını seçə bilərsiniz.Hər komanda 
                            ən çox 8,ən az isə 5 nəfərdən ibarət ola bilər.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr>
                    <th>Stadion:</th>
                    <td width="40px">
                        <input type="text" class="form-control btn-block" ng-model="nGMC.game.stadium">
                        <!-- <select class="form-control btn-block" ng-model="newGameCtrl.stadium">
                            <option value="1">Vorovski</option>
                            <option value="2">Azfar</option>
                        </select> -->
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Oynamaq istədiyiniz və uyğun olan stadionu seçə bilərsiniz.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr>
                    <th>Ödəniş<span class="red">*</span>:</th>
                    <td width="40px">
                        <select class="form-control btn-block push5" ng-model="nGMC.game.plan.type">
                            <option value="1">Yarı-yarı</option>
                            <option value="2">"Yer-pulu"</option>
                        </select>
                        <div class="row" ng-if="nGMC.game.plan.type == 2">
                            <div class="col-lg-0"></div>
                            <div class="col-lg-5">
                                <b>Udan</b>
                                <input type="text" class="form-control btn-block" placeholder="AZN" ng-model="nGMC.game.plan.winner">
                            </div>
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <b>Uduzan</b>
                                <input type="text" class="form-control btn-block" placeholder="AZN" ng-model="nGMC.game.plan.loser">
                            </div>
                            <!-- <div class="col-lg-offset-1"></div> -->
                            <!-- <div class="col-lg-4" style="vertical-align:middle;">
                                AZN
                            </div> -->
                        </div>
                    </td>
                    <td>
                        <script type="text/ng-template" id="planPopover">
                            
                        </script>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Stadion ödənişi "Yarı-yarı" və "Nəticəyə uyğun" olmaqla 2 yerə bölünür. "Yarı-yarı" dedikdə
                            hər komandanın ödəyəcəyi məbləğ oyun nəticəsindən asılı olmayaraq stadion ödənişinin yarısına bərabərdir başa düşülur. "Yer-pulu" seçimini etdikdə oyundan sonra hansı komandanın nə qədər ödəniş edəcəyi üçün sahələri doldurmanız mütləqdir.'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr>
                    <th>Gün:</th>
                    <td>
                        <input type="date" ng-model="nGMC.game.date" class="form-control btn-block" format="dd-MM-yyyy">
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Oynamaq istədiyiniz uyğun tarixi qeyd edin'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <tr>
                    <th>Saat:</th>
                    <td>
                        <timepicker ng-model="nGMC.game.date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        <!-- <button class="btn btn-primary cedvel" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <span class="glyphicon glyphicon-time"></span>
                            Cədvəl
                        </button>
                        <input type="hidden" id="datetime" name="datetime"> -->
                    </td>
                    <td>
                        <span popover-placement="left" popover-trigger="mouseenter"
                            popover='Oynamaq istədiyiniz tarix üçün saatı qeyd edin'
                            class="glyphicon glyphicon-info-sign"></span>
                    </td>
                </tr>
                <!-- <tr>
                    <th>Təhlükəsizlik kodu:</th>
                    <td colspan="2" class="txtleft">
                        <img src="captcha/captcha.php" id="captcha" /><br/>
                        <!-- CHANGE TEXT LINK --
                        <a onclick="
                            document.getElementById('captcha').src='http://localhost/playfootball/public_html/captcha/captcha.php?'+Math.random();"
                            id="change-image">Oxunulmayırsa yazını dəyiş.</a>
                    </td>
                </tr>
                <tr>
                    <th>Kodu daxil edin</th>
                    <td><input type="text" name="captcha" class="form-control" required="required"></td>
                    <td></td>
                </tr>-->
                <tr>
                    <th colspan="3">
                        <div class="alert alert-danger" role="alert" ng-if="error">
                            <strong>Xəta var!</strong> <br> {{error}}
                        </div>
                        <div class="alert alert-success" role="alert" ng-if="success">
                            <strong>Təbriklər!</strong> <br> {{success}}
                        </div>
                    </th>
                </tr>
                <tr>
                    <th colspan="3" style="vertical-align:middle;">
                        <button type="submit" ng-click="nGMC.submit()" class="btn btn-primary btn-block">OYUNU YARAT</button>
                        <button type="button" ng-click="nGMC.closeModal()" class="btn btn-default btn-block">Bağla</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="clear push30"></div>