<style>
    #newGameForm{width:95%;}
    @media (min-width: 768px){
        .modal-dialog {
          width: 280px;
          margin: 30px auto;
        }
    }
    .table th{vertical-align: middle !important;}
    #newGameForm form .table td:last-child{vertical-align:middle;}
    .tab
    input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
    .usersList li{padding:2px 2px !important;height:37px;line-height: 30px;}
    .usersList li:hover{background-color: #3071a9;color:white;cursor: default;}
    .usersList li span{margin-top: 7px;margin-right: 7px;cursor: pointer;}
    .usersList li span:hover,.usersList li span:focus{color:rgb(231, 231, 231)}
    .usersList img{width:30px;}
</style>
<h3 class="txtcenter">Təklif Göndər</h3>
<!-- Default panel contents -->
<!-- <div class="alert alert-danger" role="alert">
    <?=$error;?>
</div>
<div class="alert alert-success" role="alert">
    <?=$res;?>
</div> -->

<div class="panel panel-default center" id="newGameForm">
    <!-- <div class="panel-heading">Yeni komanda yaratmaq üçün aşağıdakı bölmə(lər)i doldurmağınız vacibdir!</div>     -->
    <form class="ajaxForm" name="regForm" method="post">
        <div class="alert alert-danger" role="alert" ng-if="error">
            <strong>Xəta var!</strong> <br> {{error}}
        </div>
        <div class="alert alert-success" role="alert" ng-if="success">
            <strong>Təbriklər!</strong> <br> {{success}}
        </div>
                <div class="row push10 btn-block" style="margin: 0px auto;height:37px;">
                    <input ng-if="!nGMC.selectedTeam" type="text" ng-change="teamList()" class="form-control" ng-model="nGMC.game.teamName" placeholder="Komandanızın adını yazın">
                    <div class="relative" ng-if="!nGMC.selectedTeam">
                        <ul class="list-group usersList btn-block" style="position:absolute;top:1px;" ng-if="nGMC.teams.length">
                            <li class="list-group-item" ng-repeat="team in teams">
                                    <img class="img-circle fl_left" ng-src="{{team.teamId.img}}">
                                    &nbsp;{{team.teamId.name}}
                                    <span ng-click="selectTeam(team.teamId)" class="glyphicon glyphicon-ok fl_right"></span>
                                    <span ui-sref="teamInfo({name:team.teamId.name})" class="glyphicon glyphicon-share-alt fl_right"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="relative btn-block" ng-if="nGMC.selectedTeam">
                        <ul class="list-group usersList btn-block" style="position:absolute;top:1px;" >
                            <li class="list-group-item">
                                    <img class="img-circle fl_left" ng-src="{{nGMC.selectedTeam.img}}">
                                    &nbsp;{{nGMC.selectedTeam.name}}
                                    <span ng-click="unselectTeam()" class="glyphicon glyphicon-remove fl_right"></span>
                                    <span ui-sref="teamInfo({name:nGMC.selectedTeam.name})" class="glyphicon glyphicon-share-alt fl_right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <textarea class="form-control btn-block push10" rows="3" ng-model="offer.text" placeholder="Əlavə qeyd üçün..."></textarea>
                <button type="submit" ng-click="nGMC.submit()" class="btn btn-primary btn-block push5">Göndər</button>
                <button type="button" ng-click="nGMC.closeModal()" class="btn btn-default btn-block push10">Bağla</button>
    </form>
</div>
<div class="clear push30"></div>