<style>
/*.loginPanel .list-group a:hover{background-color: #428bca;color:white;}*/
</style>

<li ng-if="!authentication.isAuth">
    <a class="" ng-click="login()">
        <span class="h ajv"></span>
        Giriş | Qeydiyyat
    </a>
    <!-- <button ng-if="!loginCtrl.info.isAuthenticated" class="cg fp" type="button" >
      <span class="h aiw"></span>
      Daxil ol
    </button> -->
</li>


<li ng-if="authentication.isAuth">
    <a class="g noneOutline" ng-click="messages()">
    <span class="h xk"><span class="badge" ng-if="countMessages > 0">{{countMessages}}</span></span>
    </a>
</li>
<li ng-if="authentication.isAuth" class="notificationsLi">
    <a class="g noneOutline" tabindex="0" popover-placement="auto" uib-popover-template="'notificationPopoverTemplate.html'" 
      popover-trigger="focus" ng-click="readNotifications()">
        <span class="h ws"><span ng-if="newNotificationsLs.length" class="badge">{{newNotificationsLs.length}}</span></span>
    </a>
</li>
<li ng-if="authentication.isAuth">
    <button class="cg fm ox anl" popover-placement="auto" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="focus">
        <img class="cu" ng-src="{{authentication.userData.img}}" tppabs="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
    </button>
</li>

<script type="text/ng-template" id="notificationPopoverTemplate.html">
    <div class="nav nav-stacked uq notif-popover" style="width: 380px;">
        <ul class="ca qo anx">
          <li style="background: rgb(245, 248, 250);" class="b qf aml" ng-repeat="notification in newNotificationsLs" ng-if="notification">
            <a ui-sref="{{notification.type.state}}">
            <div class="qj">
              <img class="cu avatar" style="width: 35px;" ng-src="{{notification.senderId.img}}">
            </div>
  
            <div class="qg">
              <small class="eg dp">1 min</small>
              <div class="qn">
                <strong>{{notification.senderId.username}}</strong> {{notification.type.text}}
              </div>
            </div>
            </a>
          </li>
          <li class="b qf aml" ng-repeat="notification in notificationsLs" ng-if="notification">
            <a ui-sref="{{notification.type.state}}">
            <div class="qj">
              <img class="cu avatar" style="width: 35px;" ng-src="{{notification.senderId.img}}">
            </div>
  
            <div class="qg">
              <small class="eg dp">1 min</small>
              <div class="qn">
                <strong>{{notification.senderId.username}}</strong> {{notification.type.text}}
              </div>
            </div>
            </a>
          </li>
        </ul>
        <button type="button" class="cg uc fu show-all">Hamısı</button>
    </div>
</script>

<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="nav nav-stacked">
      <li><a ui-sref-active="active">Oyun yarat</a></li>
      <li><a ui-sref-active="active" ui-sref="profile({username: authentication.userData.username})">Profilim</a></li>
      <li ui-sref-active="active" ui-sref="myteams"><a>Komandalarım</a></li>
      <li ui-sref="myrequests"><a>Təkliflər <span class="badge eg">{{countRequests}}</span></a></li>
      <li><a ng-click="logout()">Çıxış</a></li>
    </div>
</script>
