<style>
    /*#registrationForm{width:95%;}
    @media (min-width: 768px){
        .modal-dialog {
          width: 379px;
          margin: 30px auto;
        }
    }*/
    .modal-dialog{
        max-width: 260px;
    }
    input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
</style>
<div class="d">
    <!--<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <h4 class="modal-title">Login</h4>
</div>
<form>
    <div class="modal-body uq">
        <div class="alert pw" role="alert" ng-if="msg">
          <strong>Xəta var!</strong> {{msg}}.
        </div>
        <div class="form-group">
            <label>Həvəskar name or Email</label>
            <input type="text" ng-model="user.username" name="username" class="form-control" placeholder="həvəskar1995" required="required" ng-blur="checkUsername()" ng-class="{error: usernameErr}">
            <!-- <span class="help-block" ng-if="usernameErr">Bu həvəskar ad mövcuddur</span> -->
        </div>
        <div class="form-group">
            <label>Password</label><input name="password" type="password" ng-model="user.password" class="form-control" placeholder="Password" required="required">
        </div>
        
        <font style="margin: 10px auto">or login with</font>
        <div class="clear push10"></div>
        <button class="cg fp" type="button">
          <span class="h aau"></span>
          Facebook
        </button>
        
        <button class="cg ft"  style="float: right" type="button">
          <span class="h abx"></span>
          Google+
        </button>
        
    </div>
    <div class="ur">
        <button type="button" class="fu us" ng-click="registration()">Registration</button>
        <button ng-click="submit(user)" type="submit" class="fu us">
            <strong>Log in</strong>
        </button>
    </div>
</form>