<div ng-if="!authentication.isAuth" class="alert pv alert-dismissible ss" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="pr" href="profile/index.html" tppabs="http://bootstrap-themes.github.io/application/profile/index.html">Xoş gəldin!</a> Saytdan tam istifadə üçün sayta həvəskar kimi daxil olmaq və ya qeydiyyatdan keçmək gərəkdir.
</div>