<div class="qw">
  <h5 class="ald">Tanıdın? <small>· <a href="#">Hamısı</a></small></h5>
  <ul class="qo anx">
    <li class="qf alm" ng-repeat="item in maybeAcquaintances">
      <a class="qj" ui-sref="profile({username: item.username})">
        <img class="qh cu" ng-src="{{item.img}}">
      </a>
      <div class="qg">
        <strong>{{item.username}}</strong> 
        <p><i class="fa fa-map-marker"></i> {{item.address}}</p>
        <div class="aoa">
          <button class="cg fx tt" ng-if="authentication.userData._id != item._id"
            ng-class="{'active': (acquaintances[item._id] && acquaintances[item._id].offer.sender == false) ||
                        acquaintances[item._id].offer.confirmed == true }"
            ng-click="addAcquaintance(item._id)",
            ng-mouseenter="hoverAddAcq = true"
            ng-mouseleave="hoverAddAcq = false"
            >
              <span class="h" 
              ng-class="{
                  'xl': acquaintances[item._id].offer.confirmed == true && !hoverAddAcq,
                  'zl': (acquaintances[item._id].offer.confirmed == true && hoverAddAcq) ||
                        (acquaintances[item._id].offer.confirmed == false && 
                          acquaintances[item._id].offer.sender == false && hoverAddAcq),
                  'vc' : !acquaintances[item._id] || 
                          ( acquaintances[item._id].offer.sender == true &&
                          acquaintances[item._id].offer.confirmed == false),
                  'zo': acquaintances[item._id].offer.confirmed == false && 
                      acquaintances[item._id].offer.sender == false && !hoverAddAcq
              }"></span> Tanış
            </button>
        </div>
      </div>
    </li>
  </ul>
</div>