<li ui-sref-active="active">
	<a ui-sref="index">Əsas Səhifə</a>
</li>
<li ui-sref-active="active">
	<a ui-sref="about">Haqqımızda</a>
</li>
<!--<li><a href="#stadionlarimiz">Stadionlarımız</a></li>-->
<li ui-sref-active="active">
	<a ui-sref="contact">Əlaqə</a>
</li>