<div class="messagesModal">
<div class="d">
  <button type="button" class="close animated slideInRight" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <button type="button" class="cg fx fp eg k js-newMsg animated" ng-class="{
    'fadeOutRight': messagesModal == 'goMsgs',
    'slideInRight': messagesModal == 'opened' || messagesModal == 'toConversations',
    'fadeOutUp': messagesModal == 'newMsg'
  }" ng-click="messagesModal = 'newMsg'">New message</button>
  <h4 class="modal-title animated" ng-class="{
    'slideInDown': messagesModal == 'opened' || messagesModal == 'toConversations',
    'fadeInLeft': messagesModal == 'goMsgs' || messagesModal == 'newMsg'
  }">
    <a ng-click="openConversations()" ng-if="messagesModal == 'goMsgs' || messagesModal == 'newMsg'" class="js-gotoMsgs animated">Geri</a>
    {{messagesModal == 'opened' || messagesModal == 'toConversations' ? 'Mesajlar' : ''}}
  </h4>
</div>
<div class="modal-body amf js-modalBody" style="height: 500px;">
  
  <!---------------------------CONVERSATIONS-------------------------------->
    <div class="uq animated amf js-modalBody conversations" style="position: absolute;" ng-class="{
      'slideOutLeft': messagesModal == 'goMsgs',
      'slideInLeft': messagesModal == 'opened' || messagesModal == 'toConversations'
    }" ng-hide="messagesModal != 'opened' && messagesModal != 'toConversations'">
    <div class="qo cj ca js-msgGroup">
      <div ng-hide="loadedConversations">Loading...</div>
      <a ng-if="loadedConversations" conv_id="{{item._id}}" ng-init="item = conversations[_id]" ng-click="openConversation(item._id,item.users[0]._id)" class="b" ng-repeat="_id in notSorted(conversations)">
        <div class="qf">
          <span class="qj">
          <img class="cu qh avatar" ng-src="{{item.users[0].img}}">
          </span>
          <div class="qg">
            <strong>{{item.users[0].username}}</strong>
            <!--<span class="fo">42</span>-->
            <div class="aof">
                <b ng-if="item.lastMessage.sender != authentication.userData._id && item.lastMessage.seenBy.indexOf(authentication.userData._id) == -1">{{item.lastMessage.message}}</b>
                {{item.lastMessage.sender == authentication.userData._id || 
                (  
                  item.lastMessage.sender != authentication.userData._id && 
                  item.lastMessage.seenBy.indexOf(authentication.userData._id) != -1
                )  ? item.lastMessage.message  : ''}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  
    <div class="modal-body uq animated" style="position: absolute;width: 100%;" ng-hide="messagesModal != 'newMsg'" ng-class="{
      'slideInRight':  messagesModal == 'newMsg',
      'slideOutRight': messagesModal != 'newMsg',
    }"><input type="text" class="form-control" placeholder="Axtar..."></div>
    <div class="uq animated amf js-modalBody messages" style="position: absolute;" ng-class="{
      'slideOutLeft': messagesModal == 'goMsgs',
      'slideInUp': messagesModal == 'newMsg'
    }" ng-show="messagesModal == 'newMsg'">
      <div class="qo cj ca js-msgGroup">
        <a class="b" ng-click="openConversation(0,acquaintance.userData._id)" ng-repeat="acquaintance in acquaintances" ng-if="acquaintance.offer.confirmed == true">
          <div class="qf">
            <span class="qj">
              <img class="cu qh avatar" ng-src="{{acquaintance.userData.img}}">
            </span>
            <div class="qg">
              <strong>{{acquaintance.userData.username}}</strong>
              <div class="aof">
                Yeni mesaj yazmaq üçün klik et
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    
    <div class="modal-body uq animated" style="position: absolute;width: 100%;" ng-hide="messagesModal != 'goMsgs'" ng-class="{
      'slideInRight':  messagesModal == 'goMsgs',
      'slideOutRight': messagesModal == 'toConversations',
    }"><form ng-submit="send()"><input type="text" ng-model="message" class="form-control" placeholder="Bura yazın..."></form></div>
    <div class="uq animated messages" ng-hide="messagesModal != 'goMsgs'" ng-class="{
      'slideInRight':  messagesModal == 'goMsgs',
      'slideOutRight': messagesModal == 'toConversations',
    }">
      
      <!---------------------------MESSAGES-------------------------------->
      <div class="alj js-conversation">
        <div ng-hide="loadedMsgs">Loading...</div>
        <ul class="qo aob"  ng-if="loadedMsgs">
          <li class="qf alu" ng-class="{'aoe': authentication.userData._id == item.sender._id }" ng-repeat="(index,item) in messages">
            <a ng-if="authentication.userData._id != item.sender._id" class="qi" ui-sref="profile({username:item.sender.username})">
              <img class="cu qh avatar" ng-src="{{item.sender.img}}">
            </a>
            <div class="qg">
              <div class="aoc">
                {{item.message}}
              </div>
              <div class="aod">
                <small class="dp">
                  
                  {{item.seenBy.length && 
                    item.sender._id == authentication.userData._id  && 
                    item.seenBy.indexOf(peerId) != -1 && 
                    index == 0
                    ? 'Seen' : ''}}
                </small>
              </div>
            </div>
            <a ng-if="authentication.userData._id == item.sender._id" class="qi" ui-sref="profile({username:item.sender.username})">
              <img class="cu qh" ng-src="{{item.sender.img}}">
            </a>
          </li>

          <!--<li class="qf alu">-->
          <!--  <a class="qj" href="#">-->
          <!--    <img class="cu qh" src="assets/img/avatar-fat.jpg">-->
          <!--  </a>-->
          <!--  <div class="qg">-->
          <!--    <div class="aoc">-->
          <!--     Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.-->
          <!--    </div>-->
          <!--    <div class="aod">-->
          <!--      <small class="dp">-->
          <!--        <a href="#">Fat</a> at 4:28PM-->
          <!--      </small>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</li>-->

          <!--<li class="qf alu">-->
          <!--  <a class="qj" href="#">-->
          <!--    <img class="cu qh" src="assets/img/avatar-mdo.png">-->
          <!--  </a>-->
          <!--  <div class="qg">-->
          <!--    <div class="aoc">-->
          <!--     Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.-->
          <!--    </div>-->
          <!--    <div class="aod">-->
          <!--      <small class="dp">-->
          <!--        <a href="#">Mark Otto</a> at 4:20PM-->
          <!--      </small>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</li>-->

          <!--<li class="qf aoe alu">-->
          <!--  <div class="qg">-->
          <!--    <div class="aoc">-->
          <!--      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.-->
          <!--    </div>-->
          <!--    <div class="aod">-->
          <!--      <small class="dp">-->
          <!--        <a href="#">Dave Gamache</a> at 4:20PM-->
          <!--      </small>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--  <a class="qi" href="#">-->
          <!--    <img class="cu qh" src="assets/img/avatar-dhg.png">-->
          <!--  </a>-->
          <!--</li>-->

          <!--<li class="qf alu">-->
          <!--  <a class="qj" href="#">-->
          <!--    <img class="cu qh" src="assets/img/avatar-fat.jpg">-->
          <!--  </a>-->
          <!--  <div class="qg">-->
          <!--    <div class="aoc">-->
          <!--     Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.-->
          <!--    </div>-->
          <!--    <div class="aod">-->
          <!--      <small class="dp">-->
          <!--        <a href="#">Fat</a> at 4:28PM-->
          <!--      </small>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</li>-->

          <!--<li class="qf alm">-->
          <!--  <a class="qj" href="#">-->
          <!--    <img class="cu qh" src="assets/img/avatar-mdo.png">-->
          <!--  </a>-->
          <!--  <div class="qg">-->
          <!--    <div class="aoc">-->
          <!--     Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.-->
          <!--    </div>-->
          <!--    <div class="aoc">-->
          <!--     Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.-->
          <!--    </div>-->
          <!--    <div class="aod">-->
          <!--      <small class="dp">-->
          <!--        <a href="#">Mark Otto</a> at 4:20PM-->
          <!--      </small>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
</div>
</div>