<style>
    /*#registrationForm{width:95%;}*/
    @media (min-width: 768px){
        .modal-dialog {
          width: 379px;
          margin: 30px auto;
        }
    }
    /*.table th{vertical-align: middle !important;}*/
    input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
    .usersList {border: 1px solid #D3E0E9;}
    .usersList li{padding:4px !important;}
    .usersList li:hover{background-color: #3071a9;color:white;cursor: pointer;}
    .modal-body{min-height: 290px;}
</style>

<div class="d">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Üzvlüyə dəvət</h4>
</div>
<form class="ajaxForm" name="regForm" method="post">
    <div class="modal-body uq">
        <div class="alert pw" role="alert" ng-if="err">
          <strong>Xəta var!</strong> {{err}}.
        </div>
        <div class="alert pt" role="alert" ng-if="success">
          <strong>Xəta var!</strong> {{success}}.
        </div>
        <div class="form-group">
            <input ng-hide="selectedUser" ng-change="listOfUsers()" placeholder="Həvəskar ad daxil edin" type="text" ng-model="username" class="form-control btn-block">
            <div class="relative" style="width:100%;">
                <ul class="qo cj ca usersList" style="position:absolute;top:1px;" ng-if="users && users.length">
                    <li class="b" ng-hide="selectedUser && selectedUser != user"  ng-click="selectUser(user)" ng-repeat="user in users">
                        <div class="qf">
                          <a class="qj">
                            <img class="img-circle fl_left avatar" ng-src="{{user.img}}">
                          </a>
                          <div class="qg">
                            <span ng-if="selectedUser && selectedUser == user" class="h zl eg" style="font-size: 22px;"></span>
                            <strong>{{user.username}}</strong>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ur">
        <button type="button" class="fu us" ng-click="cancel()">İmtina et</button>
        <button ng-click="addIntoTeam(selectedUser._id)" type="submit" class="fu us">
            <strong>Dəvət et</strong>
        </button>
    </div>
</form>