<style>
    #registrationForm{width:95%;}
    @media (min-width: 768px){
        .modal-dialog {
          width: 379px;
          margin: 30px auto;
        }
    }
    .table th{vertical-align: middle !important;}
    input.error{border-color: #a94442;}
    .help-block{color:#a94442;}
</style>
<h3 class="txtcenter">Yeni komanda</h3>
<!-- Default panel contents -->
<!-- <div class="alert alert-danger" role="alert">
    <?=$error;?>
</div>
<div class="alert alert-success" role="alert">
    <?=$res;?>
</div> -->

<div class="panel panel-default center" id="registrationForm">
    <!-- <div class="panel-heading">Yeni komanda yaratmaq üçün aşağıdakı bölmə(lər)i doldurmağınız vacibdir!</div>     -->
    <form class="ajaxForm" name="regForm" method="post" ng-submit="regForm.$valid && newTeamRegister()">
        <div class="alert alert-danger" role="alert" ng-if="nTC.errorMsg">
            <strong>Xəta var!</strong> <br> {{nTC.errorMsg}}
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Komanda adı:</th>
                    <td><input type="text" ng-model="nTC.name" class="form-control" required="required" ng-blur="checkTeamName()" ng-class="{error: usernameErr}">
                    <span class="help-block" ng-if="teamNameErr">{{teamNameErr}}</span>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit" class="btn btn-success btn-block">Yarat</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="clear push30"></div>