<div class="btn-group" id="notifArea" role="group" aria-label="...">	
	<span class="glyphicon glyphicon-user icon">
		<span class="badge ng-binding">1</span>
	</span>
	<span class="glyphicon glyphicon-comment icon">
		<span class="badge ng-binding">3</span>
	</span>
	<span class="glyphicon glyphicon-globe icon">
		<span class="badge ng-binding">7</span>
	</span>
</div>
<div class="fl_right" new-game></div>