<style type="text/css">
	.modal-content{
		border:none !important;
		background: none !important;
		box-shadow: none !important;
	}
</style>
<center><img style="max-width:100%;" ng-src="{{url}}"></center>