<style type="text/css">
	.modal-content{
		border:none !important;
		background: none !important;
		box-shadow: none !important;
	}
</style>
<!-- <div ng-controller="openStadImages as oSI"> -->
<!-- <center ng-repeat="img in images"><img style="max-width:100%;" ng-src="{{img.url}}"></center> -->
<!-- </div> -->
<carousel interval="myInterval">
  <slide ng-repeat="img in images" active="img.active">
    <img ng-src="{{img.url}}" style="margin:auto;">
  </slide>
</carousel>