<div class="et">
    <input type="text" class="form-control" data-action="grow"  placeholder="Axtar..." ng-model="keyword" ng-change="search()"
    popover-placement="bottom" uib-popover-template="'searchPopoverTemplate.html'" 
      popover-trigger="focus"
    >
</div>

<script type="text/ng-template" id="searchPopoverTemplate.html">
    <div class="nav nav-stacked uq notif-popover">
        <ul class="ca qo anx">
            <li class="b qf aml txtcenter" style="width: 100%" ng-if="!searchResults.length">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </li>
        </ul>
        <ul class="ca qo anx" ng-if="searchResults.length">
            <li class="b qf aml" ng-repeat="result in searchResults">
                <a ui-sref="profile({username:result.username})">
                    <div class="qj">
                      <img class="cu avatar" style="width: 35px;" ng-src="{{result.img}}">
                    </div>
                    <div class="qg">
                      <div class="qn">
                        <strong>{{result.username}}</strong> - {{result.name}}<div class="clear"></div>
                        <small ng-if="result.address">@ {{result.address}}</small>
                      </div>
                    </div>
                </a>
            </li>
        </ul>
        <button type="button" class="cg uc fu show-all">Geniş axtarış</button>
    </div>
</script>