<div class="d">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Komandalar</h4>
</div>
<div class="modal-body uq">
  <ul class="qo cj ca">
    <li class="b" ng-repeat="team in teams">
      <div class="qf">
        <a class="qj" href="#">
          <img class="qh cu circle" ng-src="{{team.teamId.img}}">
        </a>
        <div class="qg">
          <button ng-if="isAuthenticated" class="cg tt fx eg"><span class="h aed"></span> Təklif göndər</button>
          <strong>{{team.teamId.name}}</strong>
          <!-- <small>@fat - San Francisco</small> -->
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="ur">
    <button type="button" class="fu us width100">Close</button>
</div>