<div class="col-md-12 games-list scroll-box">
	<div class="card card-game" ng-repeat="g in games" ui-sref="dashboard.game({'id':g._id,'game': g})">
		<div class="header header-primary game-head">
			<a href="#" title="{{g.userId.teamName}}" class="btn btn-simple relative image-a">
				<span class="placeholder-image {{g.userId.teamName.toLowerCase()[0]}}">
					{{g.userId.teamName.toUpperCase()[0]}}
					<span class="online-indicator"></span>
				</span> 
			</a>
			<b class="">{{g.userId.teamName}}</b> komandası yeni oyun təşkil etdi.
		</div>
		<div class="clearfix"></div>
		<div class="game-body">
			<div class="col-md-6">
				<ul>
					<li><i class="material-icons">date_range</i> <font ng-bind="g.date | date:'dd MMM hh:mm'"></font>  | {{hours[g.fromHours]}} - {{hours[g.toHours]}}</li>
					<li><i class="material-icons">payment</i> {{payment[g.plan.type]}} <i ng-if="g.plan.type == 2">({{g.plan.winner}} AZN /  {{g.plan.loser}} AZN)</i></li>
					<li><i class="material-icons">group</i> {{memberCount[g.countPlayers]}}</li>
				</ul>
			</div>
			<div class="col-md-6">
				<i class="material-icons">place</i> {{g.stadium}} <br>
				<i class="material-icons">record_voice_over</i> 
				<i>"{{g.text ? g.text : '...'}}" 
				<a class="green">more</a><!-- komandalarla oynamağa hazırıq.
				Hətta yer pulundan olsa belə. Əlaqə üçün nömrə 055-631-09-43.--></i>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<div class="game-footer">
			<div class="col-md-6">
				<ul class="inRoom fl_left">
					<li ng-repeat="cUsers in g.connectedUsers | limitTo: 8">
						<a href="#" title="{{cUsers.teamName}}" class="btn btn-simple relative image-a">
							<span class="placeholder-image {{cUsers.teamName.toLowerCase()[0]}}">{{cUsers.teamName.toUpperCase()[0]}}</span> 
						</a>
					</li>
				</ul>
				<span class="fl_left countInRoom" ng-if="g.connectedUsers.length > 8">+ <span>{{g.connectedUsers.length - 8}}</span> nəfər</span>
			</div>
			<div class="col-md-6">
				<!--<i class="material-icons fl_right">lock_open</i>-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="scroll-cover-bar"></div>
</div>
<!--<div class="col-md-3 padR0 padL0 margR0">-->
<!--	<div class="future-list">-->
<!--		<h4 class="block-header"><!--<span class="green font13">5</span> --Gələcək oyunlarımız</h4>-->
<!--		<div class="clearfix"></div>-->
<!--		<ul class="custom-list alignR">-->
<!--		<li>-->
<!--			<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">-->
<!--				<span class="placeholder-image static">-->
<!--					?-->
<!--				</span> -->
<!--				<ul class="fl_left game-data" style="display: inline-block;margin: 0px;padding: 0px;">-->
<!--					<li><i class="material-icons">date_range</i> 05 Aug 2017</li>-->
<!--					<li><i class="material-icons">alarm</i> 00:09 - 12:00</li>-->
<!--					<li><i class="material-icons">place</i> Azfar Tərlan şadlıq sarayının arxası</li>-->
<!--				</ul>-->
<!--			</a>-->
<!--		</li>-->
<!--		<li>-->
<!--			<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">-->
<!--				<span class="placeholder-image a">-->
<!--					A-->
<!--					<span class="online-indicator"></span>-->
<!--				</span> -->
<!--				<ul class="fl_left game-data" style="display: inline-block;margin: 0px;padding: 0px;">-->
<!--					<li><i class="material-icons">date_range</i> 05 Aug 2017</li>-->
<!--					<li><i class="material-icons">alarm</i> 00:09 - 12:00</li>-->
<!--					<li><i class="material-icons">place</i> Azfar Tərlan şadlıq sarayının arxası</li>-->
<!--				</ul>-->
<!--			</a>-->
<!--		</li>-->
<!--		<li>-->
<!--			<a href="#" title="tetbiq_2015asdfsadfdasfadsfadsfafd" class="btn btn-simple">-->
<!--				<span class="placeholder-image b">-->
<!--					B-->
<!--					<span class="online-indicator"></span>-->
<!--				</span> -->
<!--				<ul class="fl_left game-data" style="display: inline-block;margin: 0px;padding: 0px;">-->
<!--					<li><i class="material-icons">date_range</i> 05 Aug 2017</li>-->
<!--					<li><i class="material-icons">alarm</i> 00:09 - 12:00</li>-->
<!--					<li><i class="material-icons">place</i> Azfar Tərlan şadlıq sarayının arxası</li>-->
<!--				</ul>-->
<!--			</a>-->
<!--		</li>-->
<!--	</ul>-->
<!--	</div>-->
<!--</div>-->